<div class="app-content">
	<h4>Add User Componenet</h4>
	<form class="example-form">
		<table class="example-full-width" cellspacing="0">
			<tr>
				<td>
					<md-input-container class="example-full-width">
						<input md-input name="fname" placeholder="First Name" [(ngModel)]="user.firstName">
					</md-input-container>
				</td>
				<td>
					<md-input-container class="example-full-width">
						<input md-input name="lname" placeholder="Last Name" [(ngModel)]="user.lastName">
					</md-input-container>
				</td>
			</tr>
		</table>
		<p>
			<md-input-container class="example-full-width">
						<input md-input name="email" placeholder="Email Address" [(ngModel)]="user.email_id">
					</md-input-container>
			<md-input-container class="example-full-width">
				<textarea md-input placeholder="Address">1600 Amphitheatre Pkwy</textarea>
			</md-input-container>
			<md-input-container class="example-full-width">
				<textarea md-input placeholder="Address 2"></textarea>
			</md-input-container>
		</p>

		<table class="example-full-width" cellspacing="0">
			<tr>
				<td>
					<md-input-container class="example-full-width">
						<input md-input placeholder="City">
					</md-input-container>
				</td>
				<td>
					<md-input-container class="example-full-width">
						<input md-input placeholder="State">
					</md-input-container>
				</td>
				<td>
					<md-input-container class="example-full-width">
						<input md-input #postalCode maxlength="5" placeholder="Postal Code" value="94043">
						<md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
					</md-input-container>
				</td>
			</tr>
		</table>
		<div class="button-row">
			<button md-raised-button (click)="saveUser()"> Save </button>
		</div>
	</form>
</div>