<md-content>
<div layout="row" layout-xs="column" flex>
	<!-- <h3 class="md-subhead" flex>Address</h3> -->
	<md-input-container flex="50"> <label>Search
		Address By Pin</label> <input ng-model="searchByPin"
		ng-change="searchAddressByPin(searchByPin)"
		ng-model-options="{ debounce: 1000 }"> </md-input-container>
	<md-button class="md-icon-button" ng-click="searchDialog($event)">
	<ng-md-icon icon="search" style="fill: md-default" size="22">
	<md-tooltip>Address Lookup </md-tooltip></ng-md-icon></md-button>
</div>
<div layout="row" layout-xs="column">
	<md-input-container flex> <label>Line1 </label> <input
		name="line1" id="line1" ng-model="address.line1"> </md-input-container>
	<md-input-container flex> <label>Line2 </label> <input
		name="line2" id="line2" ng-model="address.line2"></md-input-container>
</div>

<div layout="row" layout-xs="column">
	<md-input-container flex> <label>City/District
	</label> <input name="city" id="city" ng-model="address.city"> </md-input-container>

	<md-input-container flex> <label>State </label> <input
		name="city" id="city" ng-model="address.state"> </md-input-container>
</div>

<div layout="row" layout-xs="column">
	<md-input-container flex> <label>Pincode </label>
	<input name="city" id="city" ng-model="address.pin"> </md-input-container>

	<md-input-container flex> <label>Country </label>
	<input name="city" id="city" ng-model="address.country"> </md-input-container>
</div>
</md-content>