<md-content layout-padding>

<div class="md-headline">
	<h3>Courier Report</h3>
</div>


<div layout="row" layout-xs="column" flex>
	<md-input-container flex> <label>Courier
		Type</label> <md-select name="courierType" ng-model="selectFilterData.courierType ">
	<md-option ng-value="Other" ng-model="other">All</md-option> <md-option
		ng-value="courierType" ng-repeat="courierType in courierTypelist">{{courierType}}</md-option>
	</md-select> </md-input-container>

	<md-input-container flex> <label>State</label> <md-select
		name="state" ng-model="selectFilterData.state"
		ng-change="getDistricts($index, selectFilterData.state)">
	<md-option ng-value="states.name"
		ng-repeat="states in Country.states |  orderBy : states.name">{{states.name}}</md-option>
	</md-select> </md-input-container>
</div>
<div layout="row" layout-xs="column" flex>

	<md-input-container flex> <label>District</label>
	<md-select name="district" ng-model="selectFilterData.dist"
		ng-change="getTalukas($index, selectFilterData.dist)"> <md-option
		ng-value="district.name" ng-repeat="district in temp.tempDistricts">{{district.name}}</md-option>
	</md-select> </md-input-container>

	<md-input-container flex> <label>Taluka</label> <md-select
		name="taluka" ng-model="selectFilterData.tal"
		ng-change="getVillages($index, selectFilterData.tal)"> <md-option
		ng-value="taluka.name" ng-repeat="taluka in temp.tempTalukas">{{taluka.name}}</md-option>
	</md-select> </md-input-container>

</div>

<div layout="row" layout-align="center center">
	<md-button class="md-raised md-primary" ng-click="getcourierReportList()">
	Display Courier Report</md-button>
	<md-button class="md-raised md-primary" ng-click="downloadCourierReport()">
	Download Courier Report</md-button>
</div>

<div>

	<table
		style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%; ">
		<tr>
			<th style="border: 1px solid black; padding: 2px; text-align: center;">Sr.
				No.</th>
			<th style="border: 1px solid black; padding: 2px; text-align: center;">Courier
				Name</th>
			<th style="border: 1px solid black; padding: 2px; text-align: center;">Courier
				Docket ID</th>
			<th style="border: 1px solid black; padding: 2px; text-align: center;">Courier
				Cost</th>
			<th style="border: 1px solid black; padding: 2px; text-align: center;">Dispatch
				Notes</th>

		</tr>
		
	
		
		<tr ng-repeat="items in list1">
						<td
							style="border: 1px solid black; padding: 2px; text-align: center;">{{$index+1}}</td>
						<td
							style="border: 1px solid black; padding: 2px; text-align: center;">{{items.courierName}}</td>
						<td
							style="border: 1px solid black; padding: 2px; text-align: center;">{{items.courierDocketID}}</td>
						<td
							style="border: 1px solid black; padding: 2px; text-align: center;">{{items.courierCost}}</td>
						<td
							style="border: 1px solid black; padding: 2px; text-align: center;">{{items.courierDispatchNotes}}</td>
			
		</tr>
		
		

	</table>

</div>

</md-content>