<div class="app-content">
    <h4>Add Book Stock </h4>
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td style="padding-right: 10px">
<md-input-container class="example-full-width">
    <input md-input type="date" name="bookQty" placeholder="Enter Today's Date" [(ngModel)]="feedStockDate">
</md-input-container>
</td>
</tr>
<tr *ngFor="let tempBookStock of newBookStockList">
    <td style="padding-right: 10px">
<md-select name="bookstock" placeholder="bookstock" [(ngModel)]="book">
    <md-option *ngFor="let book of tempBookStocks" [value]="book">
        {{book.bookName}}({{book.bookMedium}})
    </md-option>
</md-select>
</td>
<td style="padding-right: 10px">
<md-input-container class="example-full-width">
    <input md-input name="bookQty" placeholder="Book Quantity" [(ngModel)]="bookQty">
</md-input-container>
</td>
</tr>
<tr>
    <td>
        <button md-raised-button (click)="addNewEntry()"> Add New Entry </button>
    </td>
</tr>
</table>
<div class="example-button-row">
    <button md-raised-button color="primary" (click)="addGFbookStock()"> Save </button>
    <button md-raised-button (click)="gotolist()"> Cancel </button>
</div>
</form>
</div>