<div class="app-content">
	<h1>Book</h1>
	<nav>
		<a  (click)="goToAddGfBook()" routerLinkActive="active">Add Book</a> <span style="padding: 10px;"> </span> <a routerLink="listgfbook"
			routerLinkActive="active">List Book</a> <span style="padding: 10px;"> </span> <a routerLink="addgfbookstock"
			routerLinkActive="active">Add Book Stock</a><span style="padding: 10px;"> </span><a routerLink="listgfbookstocktransaction"
			routerLinkActive="active">Book Transaction</a><br>
	</nav>
	<router-outlet></router-outlet>
	<!-- Routed views go here -->
</div>