<div class="example-full-width" style="padding: 20px;">
    <br>
	<md-toolbar color="primary">
		<span>Book Transaction List</span>
		<span class="example-spacer"></span>
		<md-icon (click)="downloadBookTranscation()"><span mdTooltip="Download CSV Data"> file_download</span></md-icon>
	</md-toolbar>
	<br>
    <table class="example-table">
        <tr>
            <th> Standard </th>
            <th> Book Name </th>
            <th> Medium </th>
            <th> Tx Qty </th>
            <th> Transaction Type </th>
            <th> Transaction Date </th>
        </tr>
        <tr *ngFor="let book of bookStocks">
            <td> {{book.book.standard}} </td>
			<td> {{book.book.bookName}} </td>
			<td> {{book.book.bookMedium}}</td>
			<td> {{book.bookQty}}</td>
			<td> {{book.transactionType}} </td>
			<td> {{book.transactionDate | date:"short"}}</td>
        </tr>
    </table>
</div>