<div class="example-full-width" style="padding: 20px;">
	<br>
	<md-toolbar color="primary">
		<span>List Book</span>
		<span class="example-spacer"></span>
		<md-icon (click)="downloadData()"><span mdTooltip="Download CSV Data"> file_download</span></md-icon>
	</md-toolbar>
	<br>
	<table class="example-table">
		<tr>
			<th> Standard </th>
			<th> Book Name </th>
			<th> Book Author</th>
			<th> Weight </th>
			<th> Fees </th>
			<th> Quantity </th>
			<th style="text-align: center;"> Action </th>
		</tr>
		<tr *ngFor="let book of bookList">
			<td> {{book.standard}} </td>
			<td> {{book.bookName}} </td>
			<td> {{book.bookAuther}}</td>
			<td> {{book.weight}}</td>
			<td> {{book.bookPrice}} </td>
			<td> {{book.bookQty}}</td>
			<td>
				<div class="example-button-row">
					<md-icon (click)="gotoGfbook(book.id)"><span mdTooltip="Edit"> edit</span></md-icon>
					<span style="padding-right: 20px;"></span>
					<md-icon (click)="gotoviewGfbookRecord(book.id)"><span mdTooltip="View Record"> pageview</span></md-icon>
				</div>
			</td>
		</tr> 
	</table>
</div>