<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<div ng-if="!loading">
	<div>
		<div layout="row" layout-xs="column" flex
			ng-hide="curUser.role == 'Teacher'">
			<md-input-container flex> <label>Search
				By School Name Or City</label> <input ng-model="query.searchSchoolTxt"
				ng-change="searchSchoolTxtChange(query.selectedYearOfExam)"
				ng-model-options="{ debounce: 1000 }"> </md-input-container>
			<md-input-container flex> <label>Search
				By Grf. Reg. Or Form No.</label> <input ng-model="query.searchByGrfRegNo"
				ng-change="searchByGrfRegNoChange(query.selectedYearOfExam)"
				ng-model-options="{ debounce: 1000 }"> </md-input-container>
			<md-input-container flex> <md-select
				ng-model="query.selectedYearOfExam" id="selectedYear"
				ng-change="yearOfExamChanged(query.selectedYearOfExam)" placeholder="--Select Exam Year--">
			<md-option ng-value="Other" ng-model="other">All</md-option> <md-option
				ng-selected = "Year == query.selectedYearOfExam"
				ng-value="Year" ng-repeat="Year in Years  | orderBy:Year">{{Year}}</md-option>
			</md-select> </md-input-container>
			<md-input-container flex> <md-checkbox
				ng-model="query.schoolSelfUpdate"
				ng-change="selfUpdateChkClicked(query.schoolSelfUpdate)"
				style="padding-top: 10px" aria-label="Show Self Updated School">
			Show Self Updated School</md-checkbox> </md-input-container>
		</div>
		<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<span>Schools List</span>
			<div flex></div>
			<section layout="row" layout-align="end end" flex>

				<!--<md-button class="md-raised md-primary" id="uplodeExcel"
					ng-click="UplodeExcel($event)">Upload Schools <md-tooltip>
				Add Bulk Schools</md-tooltip> </md-button>

				 <md-button class="md-raised md-primary" id="downloadExcel"
					ng-click="downloadData()">Download Schools <md-tooltip>
				download Bulk Schools Data</md-tooltip> </md-button> 
				<md-button class="md-icon-button"
					ng-click="getPartnerSchoolByInstitute(true)"> <md-icon
					src="img/icon/ic_refresh_24px.svg">refresh</md-icon> </md-button>
				-->
				<section ng-hide="curUser.role == 'Teacher'">
					<md-button class="md-icon-button" id="uplodeExcel"
						ng-click="UplodeExcel($event)"> <ng-md-icon
						icon="file_upload" style="fill: md-default" size="24">
					<md-tooltip>Upload Schools CSV Data</md-tooltip></ng-md-icon></md-button>
					<md-button class="md-icon-button" id="downloadExcel"
						ng-click="downloadData()"> <ng-md-icon
						icon="file_download" style="fill: md-default" size="24">
					<md-tooltip>Download Schools CSV Data</md-tooltip></ng-md-icon></md-button>
					<md-button class="md-icon-button" id="downloadExcel"
						ng-click="downloadDataByLanguage()"> <ng-md-icon
						icon="file_download" style="fill: md-default" size="24">
					<md-tooltip>Download CSV Data By Language</md-tooltip></ng-md-icon></md-button>
					<md-button class="md-icon-button" id="refreshIcon"
						ng-click="refreshListPage()"> <ng-md-icon
						icon="refresh" style="fill: md-default" size="24"> <md-tooltip>Refresh
					List</md-tooltip></ng-md-icon></md-button>
				</section>
			</section>
		</div>
		</md-toolbar>
		<div ng-hide="searchTextDone">
			<md-data-table-container>
			<table md-data-table class="md-primary" md-progress="deferred">
				<thead md-order="query.order" md-trigger="onorderchange">
					<tr>
						<th width="18%" order-by="autoGenerated" name="Reg. No."></th>
						<th width="45%" order-by="schoolName" name="School Name"></th>
						<th order-by="address.city" name="City"></th>
						<th order-by="formNumber" name="Form No."></th>
						<th name="Action"></th>
					</tr>
				</thead>
				<tbody>
					<tr md-auto-select
						ng-repeat="pSchool in schools | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
						<td>{{pSchool.autoGenerated}}</td>
						<td>{{pSchool.schoolName}}</td>
						<td>{{pSchool.address.city}}</td>
						<td>{{pSchool.formNumber}}</td>
						<!-- <td><md-button class="md-raised md-primary"
								ui-sref="partnerSchool.addPartnerSchool({selectedPSchoolId: pSchool.id, selectedPSchool: pSchool})">
							Edit</md-button> <a
					ui-sref="partnerSchool.addPartnerSchool({selectedPSchoolId: pSchool.id})"><md-button>
						<md-icon md-svg-src="img/icons/edit.svg"></md-icon> <md-tooltip>Edit
						</md-tooltip></md-button></a></td> -->
						<td><div layout="row" flex>
								<md-button class="md-icon-button" id="editRecord"
									ui-sref="partnerSchool.addPartnerSchool({selectedPSchoolId: pSchool.id, selectedPSchool: pSchool})">
								<ng-md-icon icon="edit" style="fill: md-default" size="18">
								<md-tooltip>Edit Record</md-tooltip></ng-md-icon></md-button>
								<md-button class="md-icon-button" id="addSchoolUser"
									ui-sref="setup.addInstituteUser({selectedPSchool: pSchool})">
								<ng-md-icon icon="add" style="fill: md-default" size="18">
								<md-tooltip>Add User</md-tooltip></ng-md-icon></md-button>
								<md-button class="md-icon-button" id="uploadSchoolUser"
									ng-click="UploadSchoolUserExcel($event, pSchool.id)">
								<ng-md-icon icon="file_upload" style="fill: md-default"
									size="18"> <md-tooltip> Upload School
								User</md-tooltip></ng-md-icon></md-button>
							</div></td>
					</tr>
				</tbody>
			</table>
			</md-data-table-container>
			<md-data-table-pagination md-limit="query.limit"
				md-limit-options="{{query.limitOptions}}" md-page="query.page"
				md-total={{query.totalSize}} md-trigger="onpagechange"></md-data-table-pagination>
		</div>
		<div ng-show="searchTextDone" layout="row" layout-sm="column"
			layout-align="space-around">
			<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
		</div>
	</div>
</div>
