<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<div ng-if="!loading" layout="column" ng-cloak>
	<h3 class="md-display-1">Gandhi Vichar Sanskar Pariksha</h3>
	<!-- <h3 class="md-display-1">Welcome to the {{institute.name}}</h3> -->
	<p class="md-body-3">The Gandhi Research Foundation, Jalgaon has
		started conducting examinations based on Gandhian studies since 2007.
		The exam is named "Gandhi Vichar Sanskar Pariksha". The Foundation
		provides subsidized course material to secondary and higher secondary
		schools and universities for studies, based on which exams are
		conducted. The objective of this examination is to familiarize school
		and college students with Gandhian thoughts. Gandhi Research
		Foundation awards certificates to every student and the
		teacher-coordinator for their participation and support in this
		examination. Gandhi Research Foundation also awards medals to first
		three meritorious students from each standard from each district.
	<p>
	<p class="md-body-3"></p>

	<p class="md-body-3">Last year 1604 schools & colleges with 258754
		students have participated in "Gandhi Vichar Sanskar Pariksha 2015-16.
	</p>

	<p class="md-body-3">
		<br> <br>
	<div class="md-toolbar-tools">
		<table
			style="font-family: arial, sans-serif;  border-collapse: collapse; border: 1px solid black; width: 80%; margin-left: 20px;">
			<!-- <tr
				style="border: 1px solid #8cced4; text-align: left; padding: 8px; background-color: #44acb6;">
				<th>Education Year</th>
				<th>Schools Participated</th>
				<th>Students Appeared</th>
			</tr> -->
			<tr
				style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #8cced4;">
				<td>Schools</td>
				<td ng-bind="schoolStudCount.schoolCount"></td>
				<td>Students</td>
				<td ng-bind="schoolStudCount.schoolStudentcount"></td>
			</tr>
			<tr
				style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
				<td>Colleges</td>
				<td ng-bind="schoolStudCount.collegeCount"></td>
				<td>Students</td>
				<td ng-bind="schoolStudCount.collegeStudentcount"></td>
			</tr>
			<tr
				style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #8cced4;">
				<td>Total</td>
				<td ng-bind="schoolStudCount.totalSchoolColleges"></td>
				<td></td>
				<td ng-bind="schoolStudCount.totalStudents"></td>
			</tr>			
		</table>
	</div>
	</p>
	<br> <br>
	<p>This year till {{schoolStudCount.lastModifiedDate | date: "medium" : "IST"}}</p>

</div>
