<div class="example-full-width">
	<br>
	<md-toolbar color="primary">
		<span>Student List</span>
		<span class="example-spacer"></span>
		<md-icon ><span mdTooltip="Upload School CSV Data"> file_upload</span></md-icon>
		<span style="padding-right: 20px;"></span>
		<md-icon (click)="downloadData()"><span mdTooltip="Download CSV Data"> file_download</span></md-icon>
	</md-toolbar>
	<br>
	<table class="example-table">
		<tr>
			<th> Name </th>
			<th> Standard</th>
			<th> School Name</th>
			<th> Contact no </th>
			<th style="text-align: center;"> Actions </th>
</tr>
<tr *ngFor="let student of studentList">
	<td> {{student.fName}} {{student.lName}} </td>
	<td> {{student.standard}} </td>
	<td> {{student.school.schoolName}} </td>
	<td> {{student.contact}} </td>
	<td>
		<div class="example-button-row">
			<md-icon (click)="gotoEditStudent(student.id)"><span mdTooltip="Edit"> edit</span></md-icon>
			<span style="padding-right: 20px;"></span>
			<md-icon (click)="downloadcertificate(student.id)"><span mdTooltip="Download Certificate"> print</span></md-icon>	
		</div>
	</td>
</tr>
</table>
<!-- Routed views go here -->
</div>