<h3 class="md-headline">Edit Institute</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>
<form name="instituteEditForm" ng-model="userEditForm"
	ng-submit="instituteEditForm.$valid " novalidate>

	<div layout="column" layout-align="" layout-xs="column">

		<div layout="row" layout-align="centre centre" layout-xs="column">
			<md-input-container flex> <label>Institute
				Name<span style="color: red"
				ng-show="instituteEditForm.name.$error.required" class="mandatory">*</span>
			</label> <input name="name" id="name" ng-model="Institute.name" required
				name="name">
			<div ng-messages="instituteEditForm.name.$error"
				ng-if="instituteEditForm.name.$submitted || instituteEditForm.name.$touched">
				<div ng-message="required">Please Enter Institute Name.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Institute
				Description<span style="color: red"
				ng-show="instituteEditForm.desc.$error.required" class="mandatory">*</span>
			</label> <input name="desc" id="desc" ng-model="Institute.desc" required
				name="desc">
			<div ng-messages="instituteEditForm.desc.$error"
				ng-if="instituteEditForm.desc.$submitted || instituteEditForm.desc.$touched">
				<div ng-message="required">Please Enter Institute Description.</div>
			</div>
			</md-input-container>
		</div>

		<div layout="row" layout-align="centre centre" layout-xs="column">

			<md-input-container flex> <label>Contact<span
				style="color: red"
				ng-show="instituteEditForm.phone_no.$error.required"
				class="mandatory">*</span></label> <input name="phone_no"
				ng-model="Institute.phone_no" ng-minlength="10" ng-maxlength="10"
				ng-required="true">
			<div ng-messages="instituteEditForm.phone_no.$error"
				ng-if="instituteEditForm.phone_no.$submitted || instituteEditForm.phone_no.$touched">
				<div ng-message="required">Please Enter Your Contact.</div>
				<span class="help-block"
					ng-show="((instituteEditForm.phone_no.$error.minlength || instituteEditForm.phone_no.$error.maxlength) && instituteEditForm.phone_no.$dirty) ">Contact
					number should be 10 digits</span>
			</div>
			</md-input-container>
		</div>

		<div layout="row" layout-xs="column" flex>
			<!-- <span flex="10"></span> -->
			<h3 class="md-subhead">Address</h3>
		</div>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Address1
				<span style="color: red;"
				ng-show="instituteEditForm.line1.$error.required">*</span>
			</label> <input name="line1" id="line1"
				ng-model="Institute.address.line1" ng-required="true">
			<div ng-messages="instituteEditForm.line1.$error"
				ng-if="instituteEditForm.line1.$submitted || instituteEditForm.line1.$touched">
				<div ng-message="required">Please Enter Address.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Address2
			</label> <input name="line2" id="line2"
				ng-model="Institute.address.line2"></md-input-container>
		</div>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>At
				Post/City <!-- <span style="color: red;"
				ng-show="instituteEditForm.city.$error.required">*</span> -->
			</label> <input name="city" id="city" ng-model="Institute.address.city">
			<div ng-messages="instituteEditForm.city.$error"
				ng-if="instituteEditForm.city.$submitted || instituteEditForm.city.$touched">
				<div ng-message="required">Please Enter City Name.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <input name="state"
				id="state" placeholder="State"
				ng-model="Institute.address.state"></md-input-container>
			</md-input-container>
		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex> <input name="state"
				id="state" placeholder="District"
				ng-model="Institute.address.dist"></md-input-container>
			</md-input-container>

			<md-input-container flex> <input name="taluka"
				id="taluka" placeholder="Taluka"
				ng-model="Institute.address.tal"></md-input-container>
			</md-input-container>
		</div>

<div layout="row" layout-xs="column">
		<md-input-container flex> <label>At
			Post/City <span style="color: red;"
			ng-show="instituteEditForm.pin.$error.required">*</span>
		</label> <input name="pin" id="pin" ng-model="Institute.address.pin"
			ng-required="true">
		<div ng-messages="instituteEditForm.pin.$error"
			ng-if="instituteEditForm.pin.$submitted || instituteEditForm.pin.$touched">
			<div ng-message="required">Please Enter PIN Code.</div>
		</div>
		</md-input-container>

		<md-input-container flex> <md-select 
			ng-model="selectedaccount" placeholder="Plan"
			ng-change="accountDDLChange($index, selectedaccount)"> <md-option
			ng-value="list" ng-repeat="list in accountlist">{{list.accountName}}
		( {{list.description}} ) </md-option> </md-select> </md-input-container>
</div>


		<div layout="row" layout-align="center center" layout-xs="column">
			<md-button class="md-raised md-primary"
				ng-disabled="instituteEditForm.$invalid" ng-click="editInstitute()">Update
			Institute </md-button>

		</div>

	</div>

</form>

