
<h3 class="md-headline">New Institute</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div layout="column" layout-padding layout-xs="column">

	<form name="instituteForm">
		<div layout="row" layout-xs="column" flex>

			<md-input-container flex> <label>Institute
				Name<span style="color: red"
				ng-show="instituteForm.name.$error.required" class="mandatory">*</span>
			</label> <input name="name" ng-model="tempInstitute.name" ng-required="true">
			<div ng-messages="instituteForm.name.$error"
				ng-if="instituteForm.name.$submitted || instituteForm.name.$touched">
				<div ng-message="required">Please Enter Institute Name.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Institute
				Description<span style="color: red"
				ng-show="instituteForm.desc.$error.required" class="mandatory">*</span>
			</label> <input name=" desc" ng-model="tempInstitute.desc" ng-required="true">
			<div ng-messages="instituteForm.desc.$error"
				ng-if="instituteForm.desc.$submitted || instituteForm.desc.$touched">
				<div ng-message="required">Please Enter Institute Description.</div>
			</div>
			</md-input-container>
		</div>


		<div layout="row" layout-xs="column" flex>

			<md-input-container flex> <label>Contact
				No<span style="color: red"
				ng-show="instituteForm.phone_no.$error.required" class="mandatory">*</span>
			</label> <input type="number" name="phone_no"
				ng-model="tempInstitute.phone_no" ng-minlength="10"
				ng-maxlength="10" ng-required="true">
			<div ng-messages="instituteForm.phone_no.$error"
				ng-if="instituteForm.phone_no.$submitted || instituteForm.phone_no.$touched">
				<div ng-message="required">Please Enter Institute Phone_no.</div>
				<span class="help-block"
					ng-show="((instituteForm.phone_no.$error.minlength || instituteForm.phone_no.$error.maxlength) && instituteForm.phone_no.$dirty) ">Phone
					Number should be 10 digits</span>
			</div>
			</md-input-container>
		</div>


		<div layout="row" layout-xs="column" flex>
			<!-- <span flex="10"></span> -->
			<h3 class="md-subhead">Address</h3>
		</div>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Address1
				<span style="color: red;"
				ng-show="instituteForm.line1.$error.required">*</span>
			</label> <input name="line1" id="line1"
				ng-model="tempInstitute.address.line1" ng-required="true">
			<div ng-messages="instituteForm.line1.$error"
				ng-if="instituteForm.line1.$submitted || instituteForm.line1.$touched">
				<div ng-message="required">Please Enter Address.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Address2
			</label> <input name="line2" id="line2"
				ng-model="tempInstitute.address.line2"></md-input-container>
		</div>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>At
				Post/City <!-- <span style="color: red;"
				ng-show="instituteForm.city.$error.required">*</span> -->
			</label> <input name="city" id="city" ng-model="tempInstitute.address.city">
			<div ng-messages="instituteForm.city.$error"
				ng-if="instituteForm.city.$submitted || instituteForm.city.$touched">
				<div ng-message="required">Please Enter City Name.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <input name="state"
				id="state" placeholder="State"
				ng-model="tempInstitute.address.state"></md-input-container>
			</md-input-container>
		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex> <input name="state"
				id="state" placeholder="District"
				ng-model="tempInstitute.address.dist"></md-input-container>
			</md-input-container>

			<md-input-container flex> <input name="taluka"
				id="taluka" placeholder="Taluka"
				ng-model="tempInstitute.address.tal"></md-input-container>
			</md-input-container>
		</div>

<div layout="row" layout-xs="column">
		<md-input-container flex> <label>At
			Post/City <span style="color: red;"
			ng-show="instituteForm.pin.$error.required">*</span>
		</label> <input name="pin" id="pin" ng-model="tempInstitute.address.pin"
			ng-required="true">
		<div ng-messages="instituteForm.pin.$error"
			ng-if="instituteForm.pin.$submitted || instituteForm.pin.$touched">
			<div ng-message="required">Please Enter PIN Code.</div>
		</div>
		</md-input-container>

		<md-input-container flex> <md-select 
			ng-model="selectedaccount" placeholder="Plan"
			ng-change="accountDDLChange($index, selectedaccount)"> <md-option
			ng-value="list" ng-repeat="list in accountlist">{{list.accountName}}
		( {{list.description}} ) </md-option> </md-select> </md-input-container>
</div>

</form>
</div>

<div layout="row" layout-align="center center" layout-xs="column">

	<a ui-sref="institute.addAdmins"><md-button
			class="md-raised md-primary" ng-click="addInstitute()"
			ng-disabled="instituteForm.$invalid">Add Institute </md-button> </a>

	<!-- <md-button class="md-raised md-primary" ng-click="showAlert($event)" ng-disabled="instituteForm.$invalid">Add
	Institute </md-button> -->

	<md-button class="md-raised " ng-click="cancelButton()">Cancel</md-button>

</div>





