<style>
table {
	border: 1px solid black;
	border-collapse: collapse;
	border: 1px solid black;
	width: 90%;
	border: 1px solid black;
}

td {
	border: 1px solid black;
}
</style>
<md-content layout-padding>

<h3 class="md-headline">
	<u>Account View </u> {{selectdAccount.accountName}}
</h3>

<form name="searchForm">
	<table style="border: 0px">
		<tr>
			<th><label style="margin-top: 10px">From Date</label> <md-datepicker
					id="fromDate" name="fromDate" ng-model="fromDate"
					md-placeholder="Enter From date" ng-required="true"
					ng-change="getAccountEntryByAccountId(searchAccId,fromDate,toDate)"></md-datepicker>


			</th>
			<th><label style="margin-top: 10px">To Date</label> <md-datepicker
					id="toDate" name="toDate" ng-model="toDate"
					md-placeholder="Enter To date" ng-required="true"
					ng-change="getAccountEntryByAccountId(searchAccId,fromDate,toDate)"></md-datepicker>


			</th>
			<th>
				<div ng-if="selectdAccount.accountName==undefined">
					<md-input-container flex> <label>Account
						Name State</label> <md-select ng-model="searchAccId" id="accountId"
						name="accountId" ng-required="true"
						ng-change="getAccountEntryByAccountId(searchAccId,fromDate,toDate)">
					<md-option ng-value="acc.id" ng-repeat="acc in accountList"
						ng-selected="$first">{{acc.accountName}}</md-option> </md-select> </md-input-container>
				</div>


			</th>
			<th><md-button class="md-raised md-primary"
					ng-show="selectdAccount.accountName!=undefined"
					ng-click="cancelButton()">Back</md-button></th>
		</tr>

	</table>
</form>

<div>
	<table>
		<thead>
			<tr style="border: 1px solid black; background-color: gray">
				<th>Date</th>
				<th>Account Name</th>
				<th>Account Narration</th>
				<th>Debit</th>
				<th>Credit</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<th colspan="3" style="text-align: right;"><b>Opening
						Balance:</b></th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{openingBalance|number:2}}</th>
				<th></th>

			</tr>

			<tr ng-repeat="entry in entries ">

				<td>{{entry.date|formatDate}}</td>
				<td>{{entry.accountEntity.accountName}}</td>
				<td>{{entry.narration}}</td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{entry.debit|number:2}}</td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{entry.credit|number:2}}
				</td>
			</tr>

			<tr>
				<td colspan="3" style="text-align: right;"><b>Total:</b></td>
				<td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totaldebit|number:2}}</b></td>
				<td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totalcredit|number:2}}
				</b></td>
			</tr>
			<tr>
				<th colspan="3" style="text-align: right;"><b>Closing
						Balance:</b></th>
				<th></th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{closingBalance|number:2}}</th>
			</tr>

		</tbody>
	</table>

</div>
</md-content>