 <md-content layout-padding>
	<section layout="row" layout-align="end end" flex>
	<md-button class="md-raised md-primary" id="uplodeExcel"
		ng-click="UplodeExcel($event)">UplodeExcel</md-button>
	</section>
	
	<div class="md-headline"><u>Add Account Group</u></div>
	<form name="accGroupForm">
	
		[<span style="color: red;">Field Marked as asterik (*) are mandetory</span>]
	

	<div layout layout-sm="column">
		<md-input-container flex>
		<label>Enter Account Group Name <span style="color: red;">*</span></label>
		<input type="text" ng-model="tempAccountGroup.groupName" id="grpName" name="grpName"  ng-required="true" account-group-userexists>
		
		<div ng-messages="accGroupForm.grpName.$error" ng-if="accGroupForm.grpName.$submitted || accGroupForm.grpName.$touched">
			<div ng-message="required">Please Enter Account Group Name</div>
			<div ng-message="userexists"> Group Already Exists</div>
			</div>
		</md-input-container>
	
		<md-input-container flex>
		<label>Enter Description<span style="color: red;">*</span></label>
		<input type="text" ng-model="tempAccountGroup.description"  id="descrip" name="descrip" ng-required="true">
		
		<div ng-messages="accGroupForm.descrip.$error" ng-if="accGroupForm.descrip.$submitted || accGroupForm.descrip.$touched">
			<div ng-message="required">Please Enter Description</div>
			</div>
		
		</md-input-container>
	</div>
	<div layout layout-sm="column">	
	
	
	<md-input-container flex> <md-select
				ng-model="tempAccountGroup.accountGroupType" placeholder="AccountGroupType" id="accountGroupType" name="accountGroupType" ng-required="true"><lable>Account Group Type<span style="color: red;">*</span></lable>
			<md-option ng-value="item"  ng-repeat="item in accountGroupTypeList">{{item}}
			
			</md-option> </md-select>
			
		<div ng-messages="accGroupForm.accountGroupType.$error"
			ng-if="accGroupForm.accountGroupType.$submitted || accGroupForm.accountGroupType.$touched">
			<div ng-message="required">Please Select the Group Type</div>

		</div>			
			 </md-input-container>	
	
	
	
		<md-input-container flex>
		<label>Enter Order No <span style="color: red;">*</span></label>
		<input type="number" ng-model="tempAccountGroup.displayOrderNo" id="orderNo" name="orderNo" ng-required="true">
			
		<div ng-messages="accGroupForm.orderNo.$error" ng-if="accGroupForm.orderNo.$submitted || accGroupForm.orderNo.$touched">
			<div ng-message="required">Please Enter Order Number</div>
			</div>
		</md-input-container>
	</div>
<section layout="row" layout-sm="column" layout-align="center center">
	<md-button class="md-raised md-primary" name="addButton" id="addButton" ng-disabled="accGroupForm.$invalid || accGroupForm.$pristine || accGroupForm.$touched"
	 ng-click="addAccountGroup()">Add</md-button>
	
	<md-button class="md-raised md-primary" ng-click="cancelBtn()">Cancel</md-button>
	</section>
	
	</form>
</md-content>

