<style>
table {
	border: 1px solid black;
	border-collapse: collapse; border : 1px solid black;
	width: 90%;
	border: 1px solid black;
}

td {
	border: 1px solid black;
}
</style>
<md-content layout-padding>

<h3 class="md-headline">
	<u>Account Entry List</u>
</h3>


<!-- <div layout="row" layout-align="centre centre" layout-xs="column"> -->
		
		

		<label style= "margin-top: 10px">From Date</label>

		<md-datepicker id="fromDate" name="fromDate" ng-model="fromDate"
			md-placeholder="Enter From date"></md-datepicker>
	
		
		<label style= "margin-top: 10px">To Date</label>

		<md-datepicker id="toDate" name="toDate" ng-model="toDate"
			md-placeholder="Enter To date"></md-datepicker>
		<md-button class="md-raised md-primary" ng-click="getAccountList(fromDate,toDate)">Get EntriesBy Date </md-button>
		
		
	
		<!-- 
		
		
			
			
			<md-input-container flex> <label>Account Name
			State</label> <md-select ng-model="searchAccName"
			ng-change="getAccountEntryList()"> <md-option
			ng-value="acc" ng-repeat="acc in accountList">{{acc.accountName}}</md-option>
		</md-select> </md-input-container> -->
		
	<!-- 	</div> -->

		


<div>
	<table>
		<thead>
			<tr style="border: 1px solid black; background-color: gray">
				<th>Date</th>
				<th>Account Name</th>
				<th>Account Narration</th>
				<th>Debit</th>
				<th>Credit</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="entry in entryList | filter: searchAccName">

				<td>{{entry.date|formatDate}}</td>
				<td>{{entry.accountEntity.accountName}}</td>
				<td>{{entry.narration}}</td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{entry.debit|number:2}}</td>	
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{entry.credit|number:2}}
				</td>			
			</tr>
		</tbody>

	<!-- 	<tr style="border: 1px solid black;">
			<td></td>
			<td><b>Total:</b></td>
			<td style="text-align: right;"><b>{{total|number:2}} </b></td>
			<td style="text-align: right;"><b>{{total|number:2}} </b></td>
		</tr> -->
	</table>

</div>
</md-content>
