
<style>
table {
	border: 0px solid black;
	border-collapse: collapse;
	width: 90%;
}

div.one {
	border-radius: 25px;
	padding: 20px;
	/* border-style: solid;
	border-color: black; */
	border: 1px solid black;
}
</style>

<md-content ng-show="loading"> <md-progress-circular
	class="md-accent md-accent" md-diameter="80"></md-progress-circular></md-content>
<md-content layout-padding ng-show="!loading">

<h3 class="md-headline">
	<u>Balance Sheet</u>
</h3>

<div class="one" id="accountChartDiv">

	<table>
		<thead>
			<th>Group Type</th>
			<th></th>
			<th>Group Balance</th>
		</thead>
	</table>
	<br> <br>
	<div ng-repeat="groupTypeObj in accountGroupTypeGroupList">
		<p>{{groupTypeObj.groupType}}</p>
		<div ng-repeat="grp in groupTypeObj.groupList">
			<p style="margin-left: 100px">{{grp.groupName}}</p>

			<!-- 	<div ng-repeat="acc in grp.accountList">
				<p style="margin-left: 200px">
					{{acc.accountName}} <span align="right"
						style="position: absolute; right: 600px;""><b>{{acc.balance}}</b></span>
						
				</p>
				
			</div> -->
			<p style="margin-left: 200px">{{grp.totalBalance}}</p>

		</div>
	</div>

</div>
</md-content>
