<style>
table {
	border: 1px solid black;
	border-collapse: collapse; border : 1px solid black;
	width: 90%;
	border: 1px solid black;
}

td {
	border: 1px solid black;
}
table tr td a {
 
    margin-right: 100px;
}
 
</style>
<md-content layout-padding>

<h3 class="md-headline" >
	<u>Sales Voucher List</u>
</h3>
<div flex></div>
            <md-button class="md-icon-button" ng-click="voucherList()">
              <md-icon md-svg-src="img/icons/ic_refresh_24px.svg">refresh</md-icon>
            </md-button>
          </div>


<div>
	<table>
	<!-- <table md-data-table md-row-select="selected" md-progress="deferred"> -->
		<thead>
		
			<tr  style="border: 1px solid black; background-color: #ADD8E6">
			
			
			
				<th style=" padding-left:30px;">AccountType1 </th>
				<th style=" padding-left:30px;">Particulars</th>
				<th style=" padding-left:30px;">Amount</th>
				<th style=" padding-left:30px;">Narration</th>
				
			</tr>
		</thead>

		<tbody>
			<tr	ng-repeat="vaccount in Voucheraccounts">

				<td style=" padding-left:30px;">{{vaccount.accountType1.accountName}}</td>
				<td style=" padding-left:30px;">{{vaccount.accountType2.accountName}}</td>
				<td><div style=" padding-left:30px; float:left;">{{vaccount.amount}}</div> 
  					<div style="padding-right:0px;text-align:right;"><a ui-sref="accounting.voucher({Account: vaccount})">View </a></div> 
			   </td>
			
				<td style=" padding-left:30px;">{{vaccount.narration}}</td>
							
			</tr>

		</tbody>
	</table>

</div>


</md-content>
