<style>
.demo-fieldset {
	border-style: groove;
	border-width: 1px;
	height: 100%;
}
</style>



<md-content layout-padding>
<h3 class="md-headline" ng-hide="account.id">
	<u> Sales Voucher</u>
</h3>

<form name="voucherSalesForm">
	<div layout layout-xs="column" ng-if="!vouchersSaview1">

		<md-input-container flex> <label>Debit
			Account <span style="color: red;">*</span>
		</label> <md-select ng-model="vouchers.accountType1" id="accountName"
			name="Account1" ng-required="true"
			ng-change="remSelected(vouchers.accountType1,1)"> <md-option
			ng-value="type" ng-repeat="type in vaccounts1">
		{{type.accountName}} </md-option> </md-select>

		<div ng-messages="voucherSalesForm.Account1.$error"
			ng-if="voucherSalesForm.Account1.$submitted ||voucherSalesForm.Account1.$touched">
			<div ng-message="required">Please Select Debit Account</div>
		</div>
		<div>
			Current Balance:<span>&nbsp;{{drClosingBalance}}</span>
		</div>

		</md-input-container>
		<md-input-container flex>
		<label>Credit Account <span style="color: red;">*</span>
		</label> <md-select ng-model="vouchers.accountType2" id="accountName"
			name="Account" ng-required="true"
			ng-change="getAccountEntryByAccountId(vouchers.accountType2,2)">
		<md-option ng-value="type" ng-repeat="type in vaccounts2">
		{{type.accountName}}</md-option> </md-select>

		<div ng-messages="voucherSalesForm.Account.$error"
			ng-if="voucherSalesForm.Account.$submitted || voucherSalesForm.Account.$touched">
			<div ng-message="required">Please Select Credit Account</div>
		</div>
		<div>
			Current Balance:<span> &nbsp; {{crClosingBalance}}</span>
		</div>
		</md-input-container>
	</div>

	<div layout layout-xs="column" ng-if="!vouchersSaview1">
		<md-input-container flex> <label>Amount <span
			style="color: red;">*</span>
		</label> <input ng-model="vouchers.amount" name="amount" type="number"
			ng-required="true">

		<div ng-messages="voucherSalesForm.amount.$error"
			ng-if="voucherSalesForm.amount.$submitted || voucherSalesForm.amount.$touched">
			<div ng-message="required">Please Enter Amount</div>
		</div>
		</md-input-container>



		<md-input-container flex> <label>Narration</label>
		<textarea name="narration" ng-model="vouchers.narration"
			maxlength="300"></textarea> </md-input-container>


	</div>

	<!-- ----------------------------------------------------------------------------- -->




	<div layout layout-xs="column" ng-if="vouchersSaview1">
		<md-input-container flex> <label>Debit
			Account </label> <input ng-model="vouchersSaview1.accountType1.accountName"
			readonly="true"> </md-input-container>

		<md-input-container flex> <label>Credit
			Account </label> <input ng-model="vouchersSaview1.accountType2.accountName"
			readonly="true"> </md-input-container>
	</div>

	<div layout layout-xs="column" ng-if="vouchersSaview1">
		<md-input-container flex> <label>Amount <span
			style="color: red;">*</span>
		</label> <input ng-model="vouchersSaview1.amount" name="amount"
			ng-required="true" readonly="true"> </md-input-container>
		</md-input-container>
		<md-input-container flex> <label>Narration</label>
		<textarea name="narration" ng-model="vouchersSaview1.narration"
			readonly="true" maxlength="300"></textarea> </md-input-container>
	</div>

	<!-- ----------------------------------------------------------------------------- -->
	<section layout="row" layout-xs="column" layout-align="left left"
		ng-if="!vouchersSaview1">
		<md-button class="md-raised md-primary"
			ng-disabled="voucherSalesForm.$invalid || voucherSalesForm.$pristine || voucherSalesForm.$touched"
			ng-hide="account.id" ng-click="addvoucher()">Add</md-button>


		<md-button class="md-raised md-primary" ng-click="cancle()">Cancle</md-button>

		<md-button class="md-raised md-primary"
			ng-disabled="voucherSalesForm.$invalid" ng-show="account.id"
			ng-click="">Update</md-button>


	</section>
	</div>




</form>
</md-content>
