
<md-content layout-padding>
<h3 class="md-headline" ng-hide="account.id">
	<u> Sales Vaucher</u>
</h3>

<form name="voucherForm">
	<div layout layout-xs="column"  ng-if="!vouchers1">
		<md-input-container flex> <md-select
			ng-model="vouchers.accountType1" placeholder="Account" name="Account"
			ng-required="true" ng-change="remSelected(vouchers.accountType1)">
		<lable>Account Name<span style="color: red;">*</span></lable> <md-option
			ng-value="type" ng-repeat="type in vaccounts1">{{type.accountName}}


		</md-option> </md-select>

		<div ng-messages="accountForm.accountlist.$error"
			ng-if="accountForm.Account.$submitted || accountForm.Account.$touched">
			<div ng-message="required">Please Select the Type</div>

		</div>
		<div>

			Current Balance:<span>{{0}}</span>
		</div>
		</md-input-container>

		<md-input-container flex>
		<md-select ng-model="vouchers.accountType2" placeholder="Account"
			name="Account" ng-required="true">
		<lable>Account Name<span style="color: red;">*</span></lable> <md-option
			ng-value="type" ng-repeat="type in vaccounts2">{{type.accountName}}


		</md-option> </md-select>

		<div ng-messages="accountForm.accountlist.$error"
			ng-if="voucherForm.accountType2.$submitted || voucherForm.accountType2.$touched">
			<div ng-message="required">Please Select the Type</div>

		</div>
		<div>
			Current Balance:<span>{{}}</span>
		</div>
		</md-input-container>
	</div>
	
	<div layout layout-xs="column" ng-if="!vouchers1">
		<md-input-container flex> <label>Amount <span
			style="color: red;">*</span>
		</label> <input ng-model="vouchers.amount" name="amount" ng-required="true">

		<div ng-messages="voucherForm.amount.$error"
			ng-if="voucherForm.amount.$submitted || voucherForm.amount.$touched">
			<div ng-message="required">Please Enter Amount</div>
		</div>
		</md-input-container>

		<md-input-container flex>
		<lable>Narration</lable> <input ng-model="vouchers.narration"
			name="vouchers">
		 </md-input-container>
	</div>

<!-- ----------------------------------------------------------------------------- -->
<div layout layout-xs="column" ng-if="vouchers1">
		<md-input-container flex> <label>Account 
		</label> <input ng-model="vouchers1.accountType1.accountName"  readonly="true">
		</md-input-container>
		
		<md-input-container flex> <label>Account 
		</label> <input ng-model="vouchers1.accountType2.accountName"  readonly="true">
		</md-input-container>
</div>		

	<div layout layout-xs="column" ng-if="vouchers1">
		<md-input-container flex> <label>Amount <span
			style="color: red;">*</span>
		</label> <input ng-model="vouchers1.amount" name="amount" ng-required="true" readonly="true">

		
		</md-input-container>

		<md-input-container flex><lable>Narration</lable> 
		<input ng-model="vouchers1.narration"
			 readonly="true">
		 </md-input-container>
	</div>
<!-- ----------------------------------------------------------------------------- -->	
	<section layout="row" layout-xs="column" layout-align="left left" ng-if="!vouchers1">
		<md-button class="md-raised md-primary"
			ng-disabled="voucherForm.$invalid || accountForm.$pristine || accountForm.$touched"
			ng-hide="account.id" ng-click="addvoucher()">Add</md-button>


		<md-button class="md-raised md-primary" ng-click="cancle(vouchers.id)">Cancle</md-button>

		<md-button class="md-raised md-primary"
			ng-disabled="voucherForm.$invalid" ng-show="account.id" ng-click="">Update</md-button>


	</section>
	</div>




</form>
</md-content>
