<!DOCTYPE html>
<html lang="en" ng-app="prostudyAppWebsite" ng-controller="indexCtr">
<head>
<title>ProStudy - Gandhi Research Foundation</title>
<meta name="viewport" content="initial-scale=1" />

<!--end send mail  -->
<link rel="stylesheet" href="/lib/base/css/angular-material.min.css">
<link rel="stylesheet" href="/lib/base/css/googleapi.roboto.css">
<link rel="stylesheet" href="/lib/base/css/font-awesome.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body layout="column" ng-cloak md-theme="default" md-theme-watch="true"
	layout="column">
	<md-content flex-gt-xs style="padding-left: 18px; padding-right: 18px;">
	<md-subheader>
	<section layout="row" style="margin-top: 15px;" flex-gt-xs>
		<div class="md-toolbar-tools">
			<div hide-xs>
				<img ng-src="/img/images/grf_logo_new.gif" class="md-card-image"
					height="80px" width="80px" />
			</div>
			<h3 hide-xs style="margin-left: 12px;">Gandhi Vichar Sanskar
				Pariksha (GVSP)</h3>
			<h3 hide-gt-xs>ProERP</h3>
			<span flex></span>
			<section layout="row" layout-padding hide-xs>
				<md-button class="md-accent" ng-click="gotoPart('part1')">About
				GVSP</md-button>
				<md-button class="md-accent" ng-click="gotoPart('part2')">Information Brouchure</md-button>
				<md-button class="md-accent" ng-click="gotoPart('part4')">Contact
				Us</md-button>
				<!-- <md-button class="md-accent" ng-click="gotoPart('part3')">Help</md-button>-->
		</div>
		<span flex></span>
		<md-button class="md-accent" ng-click="loginClick()">
		Login</md-button>
		<md-button class="md-icon-button" aria-label="More" hide-gt-xs
			ng-click="toggleRight()" style="margin-top: 8px;"> <md-icon
			md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>
		</div>

		<md-sidenav class="md-sidenav-right md-whiteframe-z2"
			md-component-id="right"> <md-toolbar layout-padding>
		<md-button class="md-accent" ng-click="close()">Sign-up
		for Trial</md-button> <md-button class="md-accent"
			ng-click="close();gotoPart('part2');">Pricing</md-button> <md-button
			class="md-accent" ng-click="close()">Help</md-button> <md-button
			class="md-accent" ng-click="close()">Contact Us</md-button> </md-toolbar> <md-content
			layout-padding></md-content> </md-sidenav>
	</section>
	<hr>
	</md-subheader>
	<div hide-xs layout-wrap id="tp1">
		<img ng-src="/img/images/GandhiTeerth1.jpg" height="10%" width="100%" />
	</div>
	<div hide-xs layout-wrap style="height: 60%;">
		<p>General Para Goes here...... </p>
	</div>
	<md-content id="part1" flex-gt-xs layout="column"
		style="padding-top: 10%;"> <md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<h3 class="md-display-1">About GVSP</h3>
	</div>
	</md-toolbar> <md-tabs md-dynamic-height md-border-bottom> <md-tab
		label="Value Learning by Knowing Gandhi"> <md-content
		class="md-padding">
	<ul style="list-style-type: disc;">
		<li>GVSP is a reflective learning experience aimed at offering
			the young generation, foundational values of human heritage and
			enabling them with harmony between body, mind and soul, and among all
			lives.</li>
		<li>Based on value-rich reading material containing moral stories
			and historic anecdotes from the life and work of Gandhiji.</li>
		<li>This interactive course is designed by an Academic Council
			constituted of eminent Gandhian thinkers and practitioners.</li>
		<li>Students of Middle & High Schools and Colleges (up to PG);
			Rural and Small Town Students are encourged for enrollment.</li>
		<li>Special focus on Jail inmates.</li>
		<li>‘Open for all’ programme.</li>
		<li>Participants are invited to write and reflect on what they
			understood and learnt from Gandhiji’s teachings through GVSP reading
			materials.</li>
		<li>Students who attend GVSP are awarded with a certificate of
			participation and those who showed greater understanding are given an
			award.</li>
	</ul>
	</md-content> </md-tab> <md-tab label="Impact"> <md-content class="md-padding">
	<ul style="list-style-type: disc;">
		<li>Conspicuous change in the behavior of students after
			undergoing GVSP, are reported by parents and teachers.</li>
		<li>Greater understanding and appreciation between teachers and
			students widely reported.</li>
		<li>Institutions are finding GVSP an effective tool to express
			and spread the values they are committed to.</li>
		<li>More students showing interest in reading Gandhian
			Literature.</li>
		<li>Emergence of ‘Gandhi Centre’ in an increasing number of
			Institutions.</li>
		<li>A transforming experience offered to Jail inmates, thus
			preparing them for mainstream life.</li>
		<li>Those who appeared for GVSP, most often enroll for the next
			level.</li>
		<li>Increasing demand for post-exam interactive session as well
			as ‘Mohan to Mahatma’ mobile exhibitions at schools / colleges to
			address the queries of students.</li>
	</ul>
	</md-content> </md-tab> <md-tab label="Participant-friendly method"> <md-content
		class="md-padding">
	<ul style="list-style-type: disc;">
		<li>GVSP offers multiple language option: English, Hindi, Marathi
			and Kannada.</li>
		<li>Both on-line and conventional reading cum writing option is
			available.</li>
		<li>Multi level GVSP for the aspirants to learn further and
			further.</li>
		<li>GVSP and related programs conducted at their respective
			campus.</li>
		<li>Conducted all over India as well as in Japan & France.</li>
	</ul>
	</md-content> </md-tab> <md-tab label="Strength"> <md-content class="md-padding">
	<ul style="list-style-type: disc;">
		<li>GVSP corresponds with over 50,000 organizations across India
			and a substantial number overseas.</li>
		<li>A well spread collaborative network of 10,000 Educational
			Institutions.</li>
		<li>Effectively equipped dedicated infrastructure.</li>
		<li>Programme executed by a committed team.</li>
		<li>Annually updated course content and material.</li>
		<li>Specially designed Management Information System.</li>
		<li>Ten consecutive years of conducting GVSP.</li>
		<li>Ever increasing response from students; - started with 3876
			students from one district of Maharashtra in 2007, has now touched
			the lives of 10 lakh students from across India and few overseas
			countries.</li>
	</ul>
	</md-content> </md-tab> <md-tab label="On Field Collaborators"> <md-content
		class="md-padding">
	<ul style="list-style-type: disc;">
		<li>Govt. of Maharashtra which issued a circular promoting GVSP.</li>
		<li>MOU and Collaboration with 25 leading Educational
			Institutions collectively having 6000 schools, such as:
			<ol type="1">
				<li>Rayat Shikshan Sanstha, Satara</li>
				<li>Maratha Vidya Prasarak Samaj, Nasik.</li>
				<li>Mahatma Gandhi Shikshan Mandir, Nasik.</li>
				<li>Swami Vevekanand Shikshan Sanstha, Kolapur.</li>
				<li>Marathwada Shikshan Prasarak Mandal,Aurangabad.</li>
				<li>Sayadri Shikshan Sanstha, Savarde, Chiplun</li>
				<li>Sarswati Bhuvan Shikshan Prasark Sanstha,Aurangabad.</li>
				<li>Bharti Vidyapith, Pune.</li>
				<li>Agriculture Development Trust, Baramati.</li>
				<li>Mahatma Phule Shikshnik & Samajik Mandal,Chaligaon.</li>
				<li>Shri Shivaji Shikshan Santha, Amravati.</li>
				<li>Shirpur Education Society, Shirpur.</li>
				<li>Shri Shivaji Shikshan Santha, Barshi.</li>
				<li>Kasturba Gandhi National Memorial Trust, Indore And others.</li>
			</ol>
		</li>
	</ul>
	</md-content> </md-tab> <md-tab label="Process"> <md-content class="md-padding">
	<ul style="list-style-type: disc;">
		<li>Communication by post and courier to the institutions across
			the country and On-line communication through web and social media.</li>
		<li>Getting individuals enrolled through the Institutions that
			respond.</li>
		<li>Distributing reading materials and question paper.</li>
		<li>A reflective learning cum writing exercise.</li>
		<li>Evaluating and certifying the participants, honoring better
			performers.</li>
		<li>Organizing district level follow-up workshops and discussion
			forums.</li>
		<li>Refresher courses for the GVSP school/college coordinators
			for quality enhancement.</li>
		<li>Collecting feedback; documenting the experiences and
			learnings.</li>
		<li>Raising financial resources for printing reading materials,
			question papers, circulars and certificates, preparing Trophies and
			Awards, to mete out Postal charges, honorarium to coordinators,
			follow up programme, administrative expenses, etc.</li>
	</ul>
	</md-content> </md-tab> <md-tab label="Plan"> <md-content class="md-padding">
	<ul style="list-style-type: disc;">
		<li>Offering GVSP to larger number of students all over India.</li>
		<li>Making it free and accessible to all students.</li>
		<li>On-line portal for follow up interaction and Q & A sessions.</li>
		<li>Donor sponsored scholarship for meritorious students.</li>
		<li>A Board of Studies comprising of senior Gandhian scholars and
			academicians for periodical course and content updation and framing
			of question paper.</li>
	</ul>
	</md-content> </md-tab> </md-tabs> </md-content> <!-- <md-content id="part2" flex-gt-xs layout="column"
		style="padding-top: 10%;"> <md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<h3 class="md-display-1">Information Brouchure</h3>
	</div>
	</md-toolbar>
	</md-content>--> <!-- <md-content id="part3" flex-gt-xs layout="column"
		style="padding-top: 10%;"> <md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<h3 class="md-display-1">Product Help</h3>
	</div>
	</md-toolbar>
	<hr>
	<!-- <h3 class="md-display-1">Welcome to the {{institute.name}}</h3> 
	<p class="md-body-3">ProERP is a category of business-management
		software--typically a suite of integrated applications--that an
		organization can use to collect, store, manage and interpret data from
		many business activities, including:
	<ul>
		<li>inventory management</li>
		<li>shipping and payment</li>
		<li>finance</li>
		<li>product planning, purchase</li>
		<li>manufacturing or service delivery</li>
		<li>marketing and sales</li>
		<li>Human Resources</li>

	</ul>

	<h3 class="md-display-1">Functional Areas</h3>
	<p>
		An ERP system covers the following common functional areas. In many
		ERP systems these are called and grouped together as <i>ERP
			modules</i>:
	</p>
	<ul>
		<li><a target="#"
			href="https://en.wikipedia.org/wiki/Financial_accounting"
			title="Financial accounting">Financial accounting</a>: <a target="#"
			href="https://en.wikipedia.org/wiki/General_ledger"
			title="General ledger">General ledger</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Fixed_asset" title="Fixed asset">fixed
				asset</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Accounts_payable"
			title="Accounts payable">payables</a> including vouchering, matching
			and payment, <a target="#"
			href="https://en.wikipedia.org/wiki/Accounts_receivable"
			title="Accounts receivable">receivables</a> cash application and
			collections, <a target="#"
			href="https://en.wikipedia.org/wiki/Cash_management"
			title="Cash management">cash management</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Consolidation_(business)"
			title="Consolidation (business)">financial consolidation</a></li>
		<li><a target="#"
			href="https://en.wikipedia.org/wiki/Management_accounting"
			title="Management accounting">Management accounting</a>: <a
			target="#" href="https://en.wikipedia.org/wiki/Budgeting"
			class="mw-redirect" title="Budgeting">Budgeting</a>, costing, <a
			target="#" href="https://en.wikipedia.org/wiki/Cost_management"
			class="mw-redirect" title="Cost management">cost management</a>, <a
			target="#"
			href="https://en.wikipedia.org/wiki/Activity_based_costing"
			class="mw-redirect" title="Activity based costing">activity based
				costing</a></li>
		<li><a target="#"
			href="https://en.wikipedia.org/wiki/Human_resources"
			title="Human resources">Human resources</a>: <a target="#"
			href="https://en.wikipedia.org/wiki/Recruitment" title="Recruitment">Recruiting</a>,
			<a target="#" href="https://en.wikipedia.org/wiki/Training"
			title="Training">training</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Schedule_(workplace)"
			title="Schedule (workplace)">rostering</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Payroll" title="Payroll">payroll</a>,
			<a target="#" href="https://en.wikipedia.org/wiki/Employee_benefit"
			class="mw-redirect" title="Employee benefit">benefits</a>, <a
			target="#" href="https://en.wikipedia.org/wiki/Pensions"
			class="mw-redirect" title="Pensions">retirement and pension plans</a>,
			<a target="#"
			href="https://en.wikipedia.org/wiki/md-contentersity_(business)"
			title="md-contentersity (business)">md-contentersity management</a>,
			<a target="#" href="https://en.wikipedia.org/wiki/Retirement"
			title="Retirement">retirement</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Employee_exit_management"
			title="Employee exit management">separation</a></li>
		<li>Manufacturing: <a target="#"
			href="https://en.wikipedia.org/wiki/Engineering" title="Engineering">Engineering</a>,
			<a target="#" href="https://en.wikipedia.org/wiki/Bill_of_materials"
			title="Bill of materials">bill of materials</a>, work orders, <a
			target="#" href="https://en.wikipedia.org/wiki/Scheduling"
			class="mw-redirect" title="Scheduling">scheduling</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Capacity_utilization"
			title="Capacity utilization">capacity</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Workflow_management_system"
			title="Workflow management system">workflow management</a>, <a
			target="#" href="https://en.wikipedia.org/wiki/Quality_control"
			title="Quality control">quality control</a>, manufacturing process,
			manufacturing projects, manufacturing flow, <a target="#"
			href="https://en.wikipedia.org/wiki/Product_life_cycle_management"
			class="mw-redirect" title="Product life cycle management">product
				life cycle management</a></li>
		<li>Order Processing: <a target="#"
			href="https://en.wikipedia.org/wiki/Order_to_cash"
			title="Order to cash">Order to cash</a>, order entry, credit
			checking, <a target="#" href="https://en.wikipedia.org/wiki/Pricing"
			title="Pricing">pricing</a>, available to promise, <a target="#"
			href="https://en.wikipedia.org/wiki/Inventory" title="Inventory">inventory</a>,
			<a target="#" href="https://en.wikipedia.org/wiki/Shipping"
			class="mw-redirect" title="Shipping">shipping</a>, sales analysis and
			reporting, sales commissioning.
		</li>
		<li><a target="#"
			href="https://en.wikipedia.org/wiki/Supply_chain_management"
			title="Supply chain management">Supply chain management</a>: Supply
			chain planning, supplier scheduling, <a target="#"
			href="https://en.wikipedia.org/wiki/Product_configurator"
			class="mw-redirect" title="Product configurator">product
				configurator</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Order_to_cash"
			title="Order to cash">order to cash</a>, <a target="#"
			href="https://en.wikipedia.org/wiki/Purchasing" title="Purchasing">purchasing</a>,
			<a target="#" href="https://en.wikipedia.org/wiki/Inventory"
			title="Inventory">inventory</a>, claim processing, <a target="#"
			href="https://en.wikipedia.org/wiki/Warehousing" class="mw-redirect"
			title="Warehousing">warehousing</a> (receiving, putaway, <a
			target="#" href="https://en.wikipedia.org/wiki/Order_picking"
			title="Order picking">picking</a> and <a target="#"
			href="https://en.wikipedia.org/wiki/Packaging_and_labeling"
			title="Packaging and labeling">packing</a>).</li>
		<li><a target="#"
			href="https://en.wikipedia.org/wiki/Project_management"
			title="Project management">Project management</a>: Project planning,
			resource planning, project costing, <a target="#"
			href="https://en.wikipedia.org/wiki/Work_breakdown_structure"
			title="Work breakdown structure">work breakdown structure</a>, <a
			target="#" href="https://en.wikipedia.org/wiki/Invoice"
			title="Invoice">billing</a>, time and expense, performance units,
			activity management</li>
		<li>Customer relationship management: Sales and marketing,
			commissions, service, customer contact, <a target="#" target="#"
			href="https://en.wikipedia.org/wiki/Call_center" class="mw-redirect"
			title="Call center">call center</a> support. CRM systems are not
			always considered part of ERP systems but rather Business Support
			systems (BSS).
		</li>
		<li>Data services: Various self service interfaces for customers,
			suppliers and/or employees</li>
	</ul>
	</md-content>--> <md-content id="part4" flex-gt-xs layout="column"
		style="padding-top: 10%;"> <md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<h3 class="md-display-1">Contact Us</h3>
	</div>
	</md-toolbar>
	<hr>
	<!-- <h3 class="md-display-1">Welcome to the {{institute.name}}</h3> -->

	<div align="center">
	<h4>Gandhi Vichar Sanskar Pariksha (GVSP)</h4>
	<div>
		<img ng-src="/img/images/Contact-Us.png" class="md-card-image"
			height="100px" width="100px" />
	</div>
	<br>
	<div>
		<b>Contact Details of GVSP:</b><br> Jain Hills PO Box 118,<br>
		Jalgaon - 425 001 (Maharashtra), India<br> Tel : 0257 226 0033 /
		226 4801;<br> Mob : 940 495 5226 / 940 495 5220;<br> E-mail
		: gandhiexam@gandhifoundation.net<br>
	</div>
	</div>
	</md-content>
	<hr>
	<md-content id="bottom-links" flex-gt-xs layout="row"
		layout-xs="column" style="padding-top: 2%;">
	<div flex layout="column" style="margin: 8px;">
		<p>More about us</p>
		<p>
			<a href="#">See our website </a>
		</p>
		<p>
			<a href="#">ProDigital Vision </a>
		</p>
		<p>
			<a href="#">ProDigital Mission </a>
		</p>
		<p>
			<a href="#">ProDigital Products </a>
		</p>
	</div>
	<div flex layout="column" style="margin: 8px;">
		<p>Product Help</p>
		<p>
			<a href="#">Stock Management Help </a>
		</p>
		<p>
			<a href="#">Quotation and Invoice Help </a>
		</p>
		<p>
			<a href="#">HRMS and Payroll Help</a>
		</p>
		<p>
			<a href="#">Task Management Help </a>
		</p>
	</div>
	<div flex layout="column" style="margin: 8px;">
		<p>activity management1</p>
		<p>activity management1</p>
	</div>
	<div flex layout="column" style="margin: 8px;">
		<p>activity management1</p>
		<p>activity management1</p>
		<p>activity management1</p>
		<p>activity management1</p>
		<p>activity management1</p>
	</div>
	</md-content> </md-content>
	<md-button class="md-fab md-fab-bottom-right docs-scroll-fab"
		ng-click="gotoPart('tp1')" aria-label="Back to Top"> <md-tooltip
		md-direction="top">Back to Top</md-tooltip> <md-icon
		md-svg-src="img/icons/ic_keyboard_arrow_up_black_24px.svg"></md-icon>
	</md-button>
	<!-- All JS Dependencies -->
	<script src="https://apis.google.com/js/client.js"></script>
	<script src="https://apis.google.com/js/api.js"></script>
	<script src="/lib/base/angular.min.js"></script>
	<script src="/lib/base/angular-animate.min.js"></script>
	<script src="/lib/base/angular-route.min.js"></script>
	<script src="/lib/base/angular-aria.min.js"></script>
	<script src="/lib/base/angular-messages.min.js"></script>
	<script src="/lib/base/angular-resource.min.js"></script>
	<script src="/lib/base/angular-material-icons.min.js"></script>
	<script src="/lib/base/angular-material.min.js"></script>
	<script src="/lib/base/ngStorage.min.js"></script>
	<script src="/lib/base/google-plus-signin.js"></script>
	<script src="index.ctr.js"></script>
</body>
</html>