<div>
	<h3 class="md-headline">Display Dispatch Report</h3>

	<div layout="row" layout-xs="column">
		<md-datepicker ng-model="courierDispatchDate"
			ng-change="dateChanged=true" md-placeholder="Select Date"></md-datepicker>
		<span></span>
		<md-button class="md-raised md-primary"
			ng-click="getCuriertFilteredList()"
			ng-disabled="courierDispatchDate == null">Display Report</md-button>
		<span flex></span>
	</div>
	<div ng-show="loading">
		<div layout="row" layout-sm="column" layout-align="space-around">
			<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
		</div>
	</div>

	<div ng-hide="dateChanged">
		<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<span flex>Display Dispatch Report: {{ courierDispatchDate |
				date:"dd-MM-yyyy" }}</span>
			<div layout="row" layout-xs="column">
				<md-button class="md-raised md-primary" id="downloadExcel"
					ng-click="downloadCourierDispatchReport()">Download
				Courier Dispatch Report <md-tooltip>Download Courier
				Dispatch Report</md-tooltip> </md-button>
			</div>
			<md-button class="md-icon-button md-accent"
				ng-click="printDiv('reportContentDiv')" aria-label="Favorite">
			<md-icon md-svg-icon="img/icons/print.svg"></md-icon> </md-button>
		</div>
		</md-toolbar>

		<div id="reportContentDiv">
			<div>
				<table
					style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%;">
					<caption style="text-align: center; padding: 2px;">
						<span ng-hide="true" flex>Gandhi Research Foundation,
							Jalgaon</span> <br> <span ng-hide="true" flex>Display
							Dispatch Report: {{ courierDispatchDate | date:"dd-MM-yyyy" }}</span>
					</caption>
					<tr>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">Sr.
							No.</th>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">Reg.
							No.</th>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">School/College
							Name</th>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">Co-ordinator</th>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">Mobile</th>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">Destination</th>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">Logistics</th>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">Docket
							No.</th>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">Weight(Kg)</th>
						<th
							style="border: 1px solid black; text-align: left; padding: 2px;">Courier
							Cost(Rs.)</th>
					</tr>
					<tr ng-repeat="courier in couriertFilteredList"
						ng-style="$even && {	background-color: #dddddd;}">
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{$index
							+ 1}}</td>
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{courier.schoolName.autoGenerated}}</td>
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{courier.schoolName.schoolName}}</td>
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{courier.schoolName.contactDetail.coordinatorDetail[0].coordinatorName}}</td>
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{courier.schoolName.contactDetail.coordinatorDetail[0].coordinatorMobileNum}}</td>
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{courier.schoolName.address.tal
							+ ', ' + courier.schoolName.address.dist}}</td>
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{courier.logistics}}</td>
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{courier.courierDocketID}}</td>
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{parseInt(courier.totalWeight)/1000
							| number:2}}</td>
						<td
							style="border: 1px solid black; text-align: left; padding: 2px;">{{parseFloat(courier.courierCost)
							| number:2}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0"
	src="about:blank"></iframe>