<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>

<div ng-if="!loading">
	<h3 class="md-headline">Courier List</h3>

	<!-- <div layout="row" layout-align="end end" layout-xs="column">

		<md-button class="md-raised md-primary" ng-click="refresh()">Refresh
		</md-button>
	</div> -->

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Search
			By Name</label> <input ng-model="searchByName"> </md-input-container>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Courier
			Type</label> <md-select name="courierType" ng-model="filterData.courierType ">
		<md-option ng-value="Other" ng-model="other">All</md-option> <md-option
			ng-value="courierType" ng-repeat="courierType in courierTypelist">{{courierType}}</md-option>
		</md-select> </md-input-container>

		<md-input-container flex> <label>Logistics
		</label> <md-select name="logistics" ng-model="filterData.logisticsType">
		<md-option ng-value="Other" ng-model="other">All</md-option> <md-option
			ng-value="logistics" ng-repeat="logistics in logisticsList">{{logistics}}</md-option>
		</md-select> </md-input-container>

		<!-- <md-input-container flex> <label>Search
			By School / College / Institute </label> <md-select name="level"
			ng-model="schoolName"> <md-option ng-value="Other"
			ng-model="other">All</md-option> <md-option
			ng-value="schoolName.schoolName"
			ng-repeat="schoolName in pSchoolList">{{schoolName.schoolName}}</md-option>
		</md-select> </md-input-container> -->
		<div>
			<md-checkbox ng-model="filterData.pastEightDays"
				aria-label="Pending Past 8 Days"> Pending Past 8 Days
			</md-checkbox>
		</div>

	</div>
	<md-toolbar class="md-table-toolbar md-default"
		ng-hide="selected.length">
	<div class="md-toolbar-tools">
		<span>Courier List</span>
		<div flex></div>
		<md-button class="md-raised md-primary" ng-click="downloadData()">
		Download Courier List </md-button>
		<md-button class="md-icon-button"
			ng-click="getGFCourierByInstitute(true)"> <md-icon
			src="img/icon/ic_refresh_24px.svg">refresh</md-icon> </md-button>
	</div>
	</md-toolbar>

	<md-toolbar class="md-table-toolbar alternate"
		ng-show="selected.length">s
	<div class="md-toolbar-tools">
		<span>{{selected.length}} {{selected.length > 1 ? 'Couriers' :
			'Courier'}} selected</span>
		<div flex></div>
		<md-button
			ui-sref="courierModule.view({selectedGFCourierID : selected[0].id})"
			class="md-raised md-primary" ng-click=""> View Courier <md-tooltip>View</md-tooltip></md-button>

		<md-button
			ui-sref="courierModule.add({selectedGFCourierID : selected[0].id})"
			class="md-raised md-primary" ng-click=""> Edit Courier <md-tooltip>Edit
		</md-tooltip></md-button>
	</div>
	</md-toolbar>
	<div>
		<md-data-table-container>
		<table md-data-table md-row-select="selected" class="md-primary"
			md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">

				<tr>
					<th order-by="schoolName.autoGenerated" name="Reg. No."></th>
					<th order-by="schoolName" name="School Name"></th>
					<!-- <th order-by="logistics" name="Logistics"></th> -->
					<th order-by="courierDispatchDate" name="Dispatch Date"></th>
					<th order-by="courierTo" name="Docket ID">
					<th order-by="courierName" name="Courier Name"></th>
					<!-- 
					<th order-by="status" name="Status"></th> -->
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="courier in gfCouriertList | orderBy: query.order | filter: filterData.logisticsType | filter: filterData.courierType | filter: searchByName | limitTo: query.limit: (query.page - 1) * query.limit">
					<td>{{courier.schoolName.autoGenerated}}</td>
					<td>{{courier.schoolName.schoolName}}</td>
					<!-- <td>{{courier.logistics}}</td> -->
					<td>{{courier.courierDispatchDate | formatDate}}</td>
					<td>{{courier.courierDocketID}}</td>
					<td>{{courier.courierName}}</td>
					<!-- <td>{{courier.status}}</td> -->
				</tr>
			</tbody>
		</table>
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit"
			md-limit-options="query.limitOptions" md-page="query.page"
			md-total={{gfCouriertList.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</div>
	<div layout="row" layout-align="center center">
		<md-button
			ui-sref="courierModule.view({selectedGFCourierID : selected[0].id})"
			ng-show="selected.length == 1" class="md-raised md-primary"
			ng-click=""> View Courier <md-tooltip>View</md-tooltip></md-button>

		<md-button
			ui-sref="courierModule.add({selectedGFCourierID : selected[0].id})"
			ng-show="selected.length == 1" class="md-raised md-primary"
			ng-click=""> Edit Courier <md-tooltip>Edit </md-tooltip></md-button>
	</div>
</div>




