<div ng-show="loading">

	<h4 class="md-title">Loading...Please wait...</h4>

	<md-progress-linear class="md-warn" md-mode="buffer" value="30"
		md-buffer-value="70" ng-disabled="false"></md-progress-linear>
</div>
<div ng-show="deleting ">Please wait, user is deleting...</div>
<div ng-hide="loading">
	<div>
		<md-input-container flex> <label>Search
			User</label> <input ng-model="searchEmail"> </md-input-container>
	</div>
	<div>
		<md-toolbar class="md-table-toolbar md-default"
			ng-hide="selected.length">
		<div class="md-toolbar-tools">
			<span>Directory User List</span>
			<div flex></div>
			<md-button class="md-icon-button" id="uplodeExcel"
				ui-sref="gfe.directoryNewUser({currentUserDomain: currentUserDomain})">
			<ng-md-icon icon=add_circle style="fill: md-default" size="24">
			<md-tooltip>Add Directory New User</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="uplodeExcel"
				ng-click="UplodeExcel($event)"> <ng-md-icon
				icon="file_upload" style="fill: md-default" size="24">
			<md-tooltip>Upload User List</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="refreshIcon"
				ng-click="getDirectoryUserList(true)"> <ng-md-icon
				icon="refresh" style="fill: md-default" size="24"> <md-tooltip>Refresh
			List</md-tooltip></ng-md-icon></md-button>
		</div>
		</md-toolbar>

		<md-data-table-container>
		<table md-data-table class="md-primary" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">
				<tr>
					<th order-by="name.fullName" name="Users Full Name"></th>
					<th order-by="primaryEmail" name="Primary Email"></th>
					<th order-by="Profile Picture" name="Profile Picture"></th>
					<th name="Action"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="user in directoryUserList | orderBy: query.order | filter: { primaryEmail : searchEmail} | limitTo: query.limit: (query.page - 1) * query.limit">

					<td>{{user.name.fullName}}</td>
					<td>{{user.primaryEmail}}</td>
					<td><md-button class="md-fab md-primary md-hue-2"
							aria-label="Profile"> <img
							ngf-src="user.photoUrl?user.photoUrl: '/img/icons/ic_people_24px.svg'"
							class=circular> </md-button></td>
					<td><div layout="row" flex>
							<md-button class="md-icon-button"
								ui-sref="gfe.directoryViewUser({selectedUserPrimaryEmail: user.primaryEmail})">
							<ng-md-icon icon="pageview" style="fill: md-default" size="20">
							<md-tooltip> View User</md-tooltip></ng-md-icon></md-button>
							<md-button class="md-icon-button"
								ui-sref="gfe.directoryEditUser({selectedUser: user})">
							<ng-md-icon icon="edit" style="fill: md-default" size="20">
							<md-tooltip> Edit User</md-tooltip></ng-md-icon></md-button>
							<md-button class="md-icon-button"
								ng-click="deleteUser(user.primaryEmail)"> <ng-md-icon
								icon="delete" style="fill: md-default" size="20"> <md-tooltip>
							Delete User</md-tooltip></ng-md-icon></md-button>
						</div></td>
				</tr>
			</tbody>
		</table>
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{directoryUserList.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</div>
	<div ng-show="selected.length == 1">

		<div layout="row" layout-align="centre centre" layout-xs="column">

			<md-button
				ui-sref="gfe.directoryViewUser({selectedUserPrimaryEmail: selected[0].primaryEmail})"
				class="md-raised md-primary"> View User </md-button>
			<md-button
				ui-sref="gfe.directoryEditUser({selectedUser: selected[0]})"
				class="md-raised md-primary"> Edit User </md-button>
			<md-button class="md-raised md-warn"
				ng-click="deleteUser(selected[0].primaryEmail)"> Delete
			User </md-button>
		</div>
	</div>

</div>

