<div ng-show="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<md-content ng-show="!loading" layout-align="center end">
<div layout="row" layout-align="center end">
	<span>{{curUser.firstName}}</span><span flex> </span> <span
		style="color: red">Time Remaining: {{Math.floor(counter/60) }}
		Minutes, {{counter%60}} Seconds </span>
</div>

<div ng-init="startTimer()"></div>
<div layout="row">
	<md-button class="md-primary"
		ng-click="previousSetOfQuestions()"
		style="min-width: 8px; margin: 1px 1px 0px 0px;"> <ng-md-icon
		icon="navigate_before"> <md-tooltip>Previous
	Question</md-tooltip></ng-md-icon></md-button>
	<md-button md-no-ink class="md-primary"
		ng-repeat="q in currentSetOfQuestions"
		ng-click="onButtonClick(currentSetOfQuestionsStart + $index)"
		style="min-width: 8px; margin: 1px 1px 0px 0px;">Q{{currentSetOfQuestionsStart + $index + 1}}
	<md-tooltip>Jump to Question {{currentSetOfQuestionsStart
	+ $index+1}}</md-tooltip></md-button>
	<md-button class="md-primary" ng-click="nextSetOfQuestions()"
		style="min-width: 8px; margin: 1px 1px 0px 0px;"> <ng-md-icon
		icon="navigate_next"> <md-tooltip>Previous
	Question</md-tooltip></ng-md-icon></md-button>
</div>
<hr>
<section layout="row">
	<span flex="50">{{currentQuestionIndex + 1}} of
		{{totalQuestions}} Questions</span> <span flex="30"></span>
	<md-button class="md-raised md-primary"
		style="margin: 1px 1px 0px 0px;" ng-click="showConfirm($event)">Save
	and End Test</md-button>
</section>
<div layout="column">
	<div layout="row" layout-align="center end">
		<div layout-align="start end">
			<md-button ng-disabled="isDisabledPrevious" ng-click="onPrevious()">
			<ng-md-icon icon="skip_previous"> <md-tooltip>Previous
			Question</md-tooltip></ng-md-icon> </md-button>
		</div>

		<div layout-align="start end">
			<md-button ng-disabled="isDisabledNext" ng-click="onNext()">
			<ng-md-icon icon="skip_next"> <md-tooltip>Next
			Question</md-tooltip> </ng-md-icon> </md-button>
		</div>
	</div>
</div>
<div layout="row" layout-xs="column" layout-align="center end">
	<table
		style="font-family: arial, sans-serif; border-collapse: collapse; border: 1px solid black; width: 85%; margin: 20px;">
		<tr
			style="border: 1px solid #dddddd; text-align: left; padding: 20px; width: 85%; background-color: #8cced4;">
			<th
				style="border: 1px solid #dddddd; text-align: left; padding: 20px; width: 85%;">
				Question {{currentQuestionIndex + 1}} <br>
				<span
				ng-bind-html="practiceTestObj.questions[currentQuestionIndex].description | trim"></span>
			</th>
		</tr>
		<tr ng-if="practiceTestObj.questions[currentQuestionIndex].note"
			style="border: 1px solid #dddddd; text-align: left; padding: 20px; width: 85%;">
			<td
				ng-bind-html="practiceTestObj.questions[currentQuestionIndex].note | trim"
				style="border: 1px solid #dddddd; text-align: left; padding: 20px; width: 85%;"></td>
		</tr>
		<tr
			style="border: 1px solid #dddddd; text-align: left; padding: 20px; width: 85%;">
			<td
				style="border: 1px solid #dddddd; text-align: left; padding: 20px; width: 85%;"><div
					layout="column">
					<md-subheader class="md-primary">Answer:</md-subheader>
					<md-checkbox name="answer1" aria-label="answer1"
						ng-checked="userAnsList[currentQuestionIndex].userOption == 'option1'"
						ng-click="toggleSelection('option1')">
					{{practiceTestObj.questions[currentQuestionIndex].option1 | trim }}</md-checkbox>
					<md-checkbox name="answer2" aria-label="answer2"
						ng-checked="userAnsList[currentQuestionIndex].userOption == 'option2'"
						ng-click="toggleSelection('option2')">
					{{practiceTestObj.questions[currentQuestionIndex].option2 | trim}}</md-checkbox>
					<md-checkbox name="answer2" aria-label="answer3"
						ng-checked="userAnsList[currentQuestionIndex].userOption == 'option3'"
						ng-click="toggleSelection('option3')">
					{{practiceTestObj.questions[currentQuestionIndex].option3 | trim}}</md-checkbox>
					<md-checkbox name="answer4" aria-label="answer4"
						ng-checked="userAnsList[currentQuestionIndex].userOption == 'option4'"
						ng-click="toggleSelection('option4')">
					{{practiceTestObj.questions[currentQuestionIndex].option4 | trim}}</md-checkbox>
				</div></td>
		</tr>
	</table>
</div>
<p>&nbsp;</p>
<div layout="column">
	<div layout="row" layout-align="center end">
		<div layout-align="start end">
			<md-button ng-disabled="isDisabledPrevious" ng-click="onPrevious()">
			<ng-md-icon icon="skip_previous"> <md-tooltip>Previous
			Question</md-tooltip></ng-md-icon> </md-button>
		</div>
		<div layout-align="start end">
			<md-button ng-disabled="isDisabledNext" ng-click="onNext()">
			<ng-md-icon icon="skip_next"> <md-tooltip>Next
			Question</md-tooltip> </ng-md-icon> </md-button>
		</div>
	</div>
	<hr>
	<section layout="row">
		<span flex="50">{{currentQuestionIndex + 1}} of
			{{totalQuestions}} Questions</span> <span flex="30"></span>
		<md-button class="md-raised md-primary"
			style="margin: 1px 1px 0px 0px;" ng-click="showConfirm($event)">Save
		and End Test</md-button>
	</section>
</div>
<hr>
<!-- <div>userAnsList:{{angular.toJson(userAnsList)}}</div>
<div>userOption:{{userAnsList[currentQuestionIndex].userOption}}</div>
<div>isEqual to option1?:{{userAnsList[currentQuestionIndex].userOption == 'option1'}}</div> -->

</md-content>

