<div layout="column" layout-padding>
	<h3 class="md-headline">{{selectedUserEmailId}}</h3>
	<p class="md-subheader">Edit User Authorizations</p>
	<div ng-repeat="auth in instituteAuthMasterEntity.authorizations">
		<hr>
		<md-checkbox ng-model="auth.selected" ng-true-value="true"
			ng-false-value="false" aria-label="auth"> <b
			ng-bind="auth.authName"> </b> </md-checkbox>

		<div ng-repeat="subAuth in auth.authorizations">
			<span>&nbsp;&nbsp;&nbsp;&nbsp; <md-checkbox
					ng-disabled="!auth.selected" ng-model="subAuth.selected"
					ng-true-value="true" ng-false-value="false" aria-label="auth">
				{{subAuth.authName}} </md-checkbox></span>

			<div ng-repeat="thirdLevelSubAuth in subAuth.authorizations">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <md-checkbox
						ng-disabled="!subAuth.selected"
						ng-model="thirdLevelSubAuth.selected" ng-true-value="true"
						ng-false-value="false" aria-label="auth">
					{{thirdLevelSubAuth.authDisplayName}} </md-checkbox></span>
			</div>
		</div>
	</div>
	<h4 ng-init="adhocAuthToogle=false"
		ng-click="adhocAuthToogle=!adhocAuthToogle">
		Adhoc Authorizations
		<md-button class="md-icon-button" ng-show="adhocAuthToogle">
		<ng-md-icon icon="keyboard_arrow_up" style="fill: md-default"
			size="24"> <md-tooltip> Expand</md-tooltip></ng-md-icon></md-button>
		<md-button class="md-icon-button" ng-show="!adhocAuthToogle">
		<ng-md-icon icon="keyboard_arrow_down" style="fill: md-default"
			size="24"> <md-tooltip> Collapse</md-tooltip></ng-md-icon></md-button>
	</h4>
	<div ng-show="adhocAuthToogle">
		<md-chips ng-model="selectedUser.authority" md-separator-keys="authChipSepKeys"
			secondary-placeholder="Comma separated values"></md-chips>
	</div>
	
	<div layout="row">
		<md-button ng-click="cancelButton()" class="md-primary md-raised">Cancel</md-button>
		<md-button ng-click="saveAuthorization()" class="md-primary md-raised">Save
		Changes</md-button>
	</div>
</div>


