<div ng-show="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>

<div ng-show="!loading" id="studentListDiv">
	<h3 class="md-headline">Student List</h3>



	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Search
			By Name</label> <input ng-model="searchByName"> </md-input-container>

		<md-input-container flex> <label>Search
			By School / College / Institute </label> <md-select name="level"
			ng-model="schoolName"> <md-option ng-value="Other"
			ng-model="other">All</md-option> <md-option
			ng-value="school.schoolName" ng-repeat="school in pSchoolList">{{school.schoolName}}</md-option>

		</md-select> </md-input-container>
	</div>
	<div>
		<md-toolbar class="md-table-toolbar md-default"
			ng-hide="selected.length">
		<div class="md-toolbar-tools">
			<span>Students List</span> <span flex></span>
			<md-button class="md-icon-button" id="uplodeExcel"
				ng-click="UplodeExcel($event)"> <ng-md-icon
				icon="file_upload" style="fill: md-default" size="24">
			<md-tooltip>Upload CSV Data</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="downloadExcel"
				ng-click="downloadData()"> <ng-md-icon
				icon="file_download" style="fill: md-default" size="24">
			<md-tooltip>Download CSV Data</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="refreshIcon"
				ng-click="getGFStudentsByInstitute(true)"> <ng-md-icon
				icon="refresh" style="fill: md-default" size="24"> <md-tooltip>Refresh
			List</md-tooltip></ng-md-icon></md-button>
		</div>
		</md-toolbar>

		<md-toolbar class="md-table-toolbar alternate"
			ng-show="selected.length">
		<div class="md-toolbar-tools">
			<span>{{selected.length}} {{selected.length > 1 ? 'Students' :
				'Student'}} selected</span>
		</div>
		</md-toolbar>
		<md-data-table-container> <md-data-table-container>
		<table md-data-table class="md-primary" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">
				<tr>
					<th order-by="firstName" name="Name"></th>
					<th order-by="standard" name="Standard"></th>
					<th order-by="schoolName" name="School Name"></th>
					<th name="Contact No"></th>
					<th name="Actions"></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="student in gfStudentList | orderBy: query.order | filter: schoolName | filter: searchByName | limitTo: query.limit: (query.page - 1) * query.limit">

					<td>{{student.fName}} {{student.lName}}</td>
					<td>{{student.standard}}</td>
					<td>{{student.school.schoolName}}</td>
					<td>{{student.contact}}</td>
					<td>
						<div layout="row" flex>
							<md-button class="md-icon-button"
								ui-sref="studentModule.add({selectedGFStudID : student.id})"
								ng-click=""> <ng-md-icon icon="mode_edit"
								style="fill: md-default" size="18"> <md-tooltip>
							Edit</md-tooltip></ng-md-icon></md-button>
							<md-button class="md-icon-button"
								ui-sref="studentModule.viewExamResult({selectedGFStudID : student.id})"
								ng-click=""> <ng-md-icon icon="pageview"
								style="fill: md-default" size="18"> <md-tooltip>
							View Exam</md-tooltip></ng-md-icon></md-button>
							<md-button class="md-icon-button"
								ng-click="downloadCertificate(student.id)"> <ng-md-icon
								icon="print" style="fill: md-default" size="18"> <md-tooltip>
							Download Certificate</md-tooltip></ng-md-icon></md-button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		</md-data-table-container> <md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{gfStudentList.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</div>
</div>

<div layout="row" layout-align="center center">


	<!-- 		<md-button 
			ng-show="selected.length == 1" class="md-fab md-primary md-hue-2"
			ng-click="sendData()"> <md-icon md-svg-src="img/icons/edit.svg"></md-icon>
		<md-tooltip>Edit 1</md-tooltip></md-button>
 -->
	<!-- 		 <a
		ui-sref="student.addstudentpayment({selectedStud:selected[0]})"><md-button
			ng-show="selected.length == 1" class="md-fab md-primary md-hue-2"
			ng-click=""> <md-icon md-svg-src="img/icons/payment.svg"></md-icon>
		<md-tooltip>Add Payment</md-tooltip> </md-button> </a> <a
		ui-sref="favourite.practiceExamResultView({selectedStudEmail:selected[0].email_id})"><md-button
			ng-show="selected.length == 1" class="md-fab md-primary md-hue-2"
			ng-click=""> <md-icon md-svg-src="img/icons/result.svg"></md-icon>
		<md-tooltip>Exam Details </md-tooltip> </md-button> </a>



<md-button
			ng-show="selected.length" class="md-fab md-primary md-hue-2"
			ng-click="assignExamToStudent()"> <md-icon md-svg-src="img/icons/add.svg"></md-icon>
		<md-tooltip>Add To Exam </md-tooltip> </md-button>
 -->
</div>


