<div ng-if="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<div ng-if="!loading">
	<h3 class="md-headline">Welcome to GVSP Online Exam</h3>
	<br>
	<p>Please enter below details for verification before you begin.
		Please ask your exam coordinator/teacher.</p>
	<br>
	<div layout="column" layout-padding layout-xs="column">

		<form name="gfaddresultfrm" layout="column">
			<div layout="row" layout-xs="column" ng-if="!reviewByGrfRegNo">
				<md-input-container> <label>Enter GRF.
					Reg. No. <span style="color: red"
					ng-show="gfaddresultfrm.grfRegNo.$error.required" class="mandatory">*</span>
				</label> <input name="grfRegNo" ng-model="data.grfRegNo" ng-required="true">
				<div ng-messages="gfaddresultfrm.grfRegNo.$error"
					ng-if="gfaddresultfrm.grfRegNo.$submitted || gfaddresultfrm.grfRegNo.$touched">
					<div ng-message="required">This field is required.</div>
				</div>
				</md-input-container>
				<md-input-container ng-if="!curUser"> <label>Enter
					Co-ordinator Mobile Number<span style="color: red"
					ng-show="gfaddresultfrm.coordinatorMobileNumberEntered.$error.required"
					class="mandatory">*</span>
				</label> <input name="coordinatorMobileNumberEntered"
					ng-model="data.coordinatorMobileNumberEntered" type="number"
					ng-required="true" ng-minlength="10" ng-maxlength="10">
				<div>Enter same 10 digit mobile number written/entered for GRF
					registration form.</div>
				<div
					ng-messages="gfaddresultfrm.coordinatorMobileNumberEntered.$error"
					ng-if="gfaddresultfrm.coordinatorMobileNumberEntered.$submitted || gfaddresultfrm.coordinatorMobileNumberEntered.$touched">
					<div ng-message="required">This field is required.</div>
					<div ng-message="minlength || maxlength">Enter 10 digit
						mobile number.</div>
				</div>
				</md-input-container>
				<div layout="row" layout-align="center start" layout-xs="column"
					ng-if="!curUser">
					<md-button class="md-raised md-primary"
						ng-disabled="gfaddresultfrm.grfRegNo.$invalid || gfaddresultfrm.coordinatorMobileNumberEntered.$invalid"
						ng-click="grfRegNoChange(data.grfRegNo)">Verify</md-button>
				</div>
			</div>

			<div layout="column" ng-if="!data.foundValidRecord">
				<span style="color: red">{{data.errorMsg}}</span>
			</div>
			<div layout="column" ng-if="data.guestSuccessMsg !=''">
				<h3 class="md-title">{{data.guestSuccessMsg}}</h3>
			</div>

			<div layout="column"
				ng-if="data.foundValidRecord && data.guestSuccessMsg ==''">

				<div layout="column">
					<div layout="row" layout-xs="column">
						<span><b>School/College Name: &nbsp;</b></span><span>{{foundSchool.schoolName}}</span>
					</div>
					<div layout="row" layout-xs="column">
						<span><b>Co-ordinator Name:
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span><span>{{coordinatorDetail.coordinatorName}}</span>
					</div>
				</div>
				<hr>
				<h3 class="md-title">Please enter below details and begin the
					exam.</h3>
				<hr>
				<ng-form name="gfStudentForm" layout="column">
				<div layout="row" layout-xs="column" flex>
					<md-input-container flex> <label>Standard<span
						style="color: red"
						ng-show="gfStudentForm.standard.$error.required" class="mandatory">*</span></label>
					<md-select name="standard" ng-model="tempStudent.standard "
						ng-required="true"> <md-option ng-value="standard"
						ng-repeat="standard in standardList">{{standard}}</md-option> </md-select>
					<div ng-messages="gfStudentForm.standard.$error"
						ng-if="gfStudentForm.standard.$submitted || gfStudentForm.standard.$touched">
						<div ng-message="required">Please select Standards.</div>
					</div>
					</md-input-container>
					<md-input-container flex> <label>Exam Language<span
						style="color: red"
						ng-show="gfStudentForm.language.$error.required" class="mandatory">*</span></label>
					<md-select name="language" ng-model="tempStudent.language"
						ng-required="true"> <md-option ng-value="language"
						ng-repeat="language in answerOfMediumList">{{language}}</md-option> </md-select>
					<div ng-messages="gfStudentForm.language.$error"
						ng-if="gfStudentForm.language.$submitted || gfStudentForm.language.$touched">
						<div ng-message="required">Please select Standards.</div>
					</div>
					</md-input-container>
					<md-input-container flex> <label>Enter
						Your Full Name <span style="color: red"
						ng-show="gfStudentForm.fName.$error.required" class="mandatory">*</span>
					</label> <input name="fName" ng-model="tempStudent.fName"
						ng-required="true" capitalize>
					<div ng-messages="gfStudentForm.fName.$error"
						ng-if="gfStudentForm.fName.$submitted || gfStudentForm.fName.$touched">
						<div ng-message="required">This is required value.</div>
					</div>
					</md-input-container>
				</div>
				<div layout="row" layout-align="center center" layout-xs="column">
					<md-button class="md-raised md-primary"
						ng-click="addGFStudentAndStartExam()"
						ng-disabled="gfStudentForm.$invalid">Start Online Exam</md-button>
				</div>
				</ng-form>
			</div>
		</form>
	</div>


</div>


