<div class="example-full-width">
	<h4>List School</h4>
	<table class="example-table">
		<tr>
			<th> Sr. No. </th>
			<th> Name </th>
			<th> Category</th>
			<th> Actions </th>
		</tr>
		<tr *ngFor="let school of schoolList">
			<td> {{school.id}} </td>
			<td> {{school.schoolName}} </td>
			<td> {{school.category}} </td>
			<td>
				<div class="example-button-row">
					<a md-button (click)="goToSchool(school)">
				Edit</a></div>
			</td>
		</tr>
	</table>
	<!-- Routed views go here -->
</div>