<div ng-show="loading">
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>

<div ng-show="!loading">
	<!-- <h3 class="md-headline">Exam Result List</h3> -->

	<form>

		<md-content>
		<div layout="column" id="filterDiv">
			<div layout="row" layout-xs="column" flex>
				<md-input-container flex> <label>State<span
					style="color: red"
					ng-show="gfSchoolListsForm.state.$error.required" class="mandatory">*</span></label>
				<md-select name="state" ng-model="selectFilterData.state"
					ng-change="getDistricts($index, selectFilterData.state)"
					ng-required="true" placeholder="Select Standard" aria-label="Select Standard"> <md-option ng-value="states.name"
					ng-repeat="states in Country.states |  orderBy : states.name">{{states.name}}</md-option>
				</md-select>
				<div ng-messages="gfSchoolListsForm.state.$error"
					ng-if="gfSchoolListsForm.state.$submitted || gfSchoolListsForm.state.$touched">
					<div ng-message="required">Please Select State.</div>
				</div>
				</md-input-container>
				<md-input-container flex> <label>District<span
					style="color: red"
					ng-show="gfSchoolListsForm.district.$error.required"
					class="mandatory">*</span></label> <md-select name="district"
					ng-model="selectFilterData.dist"
					ng-change="getTalukas($index, selectFilterData.dist)"
					ng-required="true" placeholder="Select Standard" aria-label="Select Standard"> <md-option ng-value="district.name"
					ng-repeat="district in temp.tempDistricts">{{district.name
				}}</md-option> </md-select>

				<div ng-messages="gfSchoolListsForm.district.$error"
					ng-if="gfSchoolListsForm.district.$submitted || gfSchoolListsForm.district.$touched">
					<div ng-message="required">Please Select District.</div>
				</div>
				</md-input-container>

			</div>		
			<hr>
			---OR---
			</hr>

			<div layout="row" layout-xs="column">
				<md-input-container flex> <label>GRF
					Reg. No.</label> <input ng-model="selectFilterData.grfRegNo"> </md-input-container>
				<md-input-container flex> <md-checkbox
					ng-model="selectFilterData.grfReviewed"
					ng-click="pendingGrfReview(!selectFilterData.grfReviewed)"
					style="padding-top: 10px" aria-label="Show Pending GRF Review">
				Show Pending GRF Review</md-checkbox> </md-input-container>
			</div>

		</div>
		<div layout="row" layout-align="center center">
			<md-button class="md-raised md-primary" ng-click="filterResultList()">Find
			Results</md-button>
			<!-- <md-button class="md-raised md-primary" id="downloadExcel"
				ng-click="downloadData()">Download All Result Data <md-tooltip>
			Download All Result Data</md-tooltip> </md-button> -->
		</div>

		<md-toolbar class="md-table-toolbar md-default"
			ng-hide="selected.length">


		<div class="md-toolbar-tools">
			<span>Exam Result List</span>
			<div flex></div>
			<!-- <md-button class="md-raised md-primary" ng-click="downloadData()">
		Download Courier List </md-button>
		<md-button class="md-icon-button"
			ng-click="getGFCourierByInstitute(true)"> <md-icon
			src="img/icon/ic_refresh_24px.svg">refresh</md-icon> </md-button>
 -->
			<md-button class="md-icon-button" id="downloadExcel"
				ng-click="downloadData()"> <ng-md-icon
				icon="file_download" style="fill: md-default" size="24">
			<md-tooltip>Download CSV Data</md-tooltip></ng-md-icon></md-button>
			<md-button class="md-icon-button" id="refreshIcon" ng-click="">
			<ng-md-icon icon="refresh" style="fill: md-default" size="24">
			<md-tooltip>Refresh List</md-tooltip></ng-md-icon></md-button>
		</div>
		</md-toolbar>


		<div>
			<md-data-table-container>
			<table md-data-table class="md-primary" md-progress="deferred">
				<thead md-order="query.order" md-trigger="onorderchange">

					<tr>
						<!-- <th name="Sr. No."></th> -->
						<th order-by="createdDate" name="Created Date"></th>
						<th order-by="grfReviewed" name="GRF Review Status"></th>
						<!-- 	<th order-by="standard" name="Standard"></th>
						<th order-by="marks" name="Marks">
						<th order-by="studName" name="Student Name"></th> -->
						<th order-by="school.autoGenerated" name="GRF. Reg. No."></th>
						<th order-by="courierName" name="School Name"></th>
						<th name="Address"></th>
						<th name="Action"></th>
					</tr>

				</thead>
				<tbody>
					<tr
						ng-repeat="examResult in filteredExamResultList | orderBy: query.order | filter: filterData.logisticsType | filter: filterData.courierType | filter: searchByName | limitTo: query.limit: (query.page - 1) * query.limit">
						<!-- <td>{{$index + 1}}</td> -->
						<td>{{examResult.createdDate | formatDate}}</td>
						<td>{{examResult.grfReviewed}}</td>
						<!-- <td>{{examResult.standard}}</td>
						<td>{{examResult.marks}}</td>
						<td>{{examResult.studName}}</td> -->
						<td>{{examResult.school.autoGenerated}}</td>
						<td>{{examResult.school.schoolName}}</td>
						<td>{{examResult.school.address.tal + ', ' +
							examResult.school.address.dist}}</td>
						<td>
							<div layout="row" flex>
								<md-button class="md-icon-button" id="viewCourier"
									ui-sref="studentModule.addExamResult({reviewByGrfRegNo : examResult.school.autoGenerated})">
								<ng-md-icon icon="pageview" style="fill: md-default" size="24">
								<md-tooltip>Review Exam Result</md-tooltip></ng-md-icon></md-button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</md-data-table-container>
			<md-data-table-pagination md-limit="query.limit"
				md-limit-options="query.limitOptions" md-page="query.page"
				md-total={{gfCouriertList.length}} md-trigger="onpagechange"></md-data-table-pagination>
		</div>
	</form>
</div>